[2016-01-30 03:30] miztroh opened #1 "Headings wrap instead of replace inside of list items"

[2016-01-30 03:45] miztroh opened #2 "Link editor dropdown can get cut off on small screens"

[2016-01-30 20:45] #2 closed

[2016-01-30 21:34] #1 closed

[2016-02-01 01:56] miztroh opened #3 "Safari / IE: Loss of selection when clicking a tool prevents its action"

[2016-02-01 21:10] miztroh opened #4 "IE uses strong, em instead of b, i"

[2016-02-01 22:19] chuckh opened #5 "Can't cancel insert URL"
You can't cancel or escape once the insert URL is popped up. Should be able to hit escape key and/or have cancel button to exit with no changes.

[2016-02-02 00:53] #5 closed

[2016-02-02 00:55] miztroh opened #6 "Add validation to link tool (tel, mailto, http/s)"

[2016-02-02 01:04] miztroh commented on #5
@chuckh Thanks for the report.  Should be good to go now.

[2016-02-02 15:46] #3 closed

[2016-02-02 16:04] miztroh opened #7 "Demo URL should use HTTPS"

[2016-02-02 16:04] #7 closed

[2016-02-02 17:32] miztroh opened #8 "Keyboard shortcuts all use Ctrl; Allow for meta key to support expected OS X keybindings"

[2016-02-02 17:33] miztroh opened #9 "Add ability to specify target (_self, _blank, etc.) in link tool"

[2016-02-02 22:37] miztroh opened #10 "If the last p element is deleted, contenteditable goes into div mode"

[2016-02-02 22:38] #10 closed

[2016-02-02 23:39] chuckh opened #11 "Add option to have toolbar in a fixed position"
@miztroh thanks for your work on this.

[2016-02-03 00:24] miztroh commented on #11
@chuckh No problem.  By "freeze", do you mean to disable the buttons and keyboard shortcuts?

[2016-02-03 00:44] chuckh commented on #11
Do not mean disable buttons. I mean to lock the toolbar in place.  To have it in a fixed position.

like this: (green hello is fixed)
http://jsfiddle.net/austinbv/2KTFG/

[2016-02-03 21:22] #11 closed

[2016-02-03 21:22] miztroh commented on #11
Wrapped the paper-toolbar in a paper-header-panel.  That should take care of it.  Thanks for the suggestion.

[2016-02-03 21:24] miztroh opened #12 "Add option to hide toolbar"

[2016-02-03 21:24] miztroh opened #13 "Add option to disable editing"

[2016-02-03 21:44] #12 closed

[2016-02-03 21:44] #13 closed

[2016-02-03 21:52] miztroh opened #14 "Don't show paper-header-panel seam when hideToolbar or readOnly are true"

[2016-02-03 21:55] #14 closed

[2016-02-04 05:23] miztroh opened #15 "_click handler doesn't forward event object to execCommand"
As a symptom, the link dialog doesn't handle clicks appropriately.

[2016-02-04 05:26] miztroh opened #16 "Link tool should override _click handler so that 'restore-selection' is only fired selectively"

[2016-02-04 05:28] #6 closed

[2016-02-04 05:28] #15 closed

[2016-02-04 05:30] miztroh commented on #16
Fixed by https://github.com/miztroh/wysiwyg-e/commit/d983f7f73ba011d39e863e6e87dcaf0395baad62

[2016-02-04 05:30] #16 closed

[2016-02-04 16:03] #9 closed

[2016-02-04 16:22] miztroh commented on #8
Waiting on response to https://github.com/PolymerElements/iron-a11y-keys/issues/21.

[2016-02-04 18:16] #4 closed

[2016-02-04 21:01] miztroh opened #17 "Tooltip appears for undo / redo even when disabled"

[2016-02-04 21:04] miztroh opened #18 "insert-list shares enough API surface from tool behavior that it should just inherit and override"

[2016-02-04 21:06] #17 closed

[2016-02-04 21:06] #18 closed

[2016-02-04 22:10] miztroh opened #19 "Add image tool"

[2016-02-04 22:38] miztroh commented on #8
bowser doesn't indicate whether device is a mac

[2016-02-04 22:38] #8 closed

[2016-02-04 23:24] chuckh opened #20 "Add a .gitignore file"
Ignore these:

.DS_Store
bower_components

[2016-02-05 14:38] #20 closed

[2016-02-05 16:53] chuckh opened #23 "Auto Size editable area to parent"

[2016-02-05 17:05] #23 closed

[2016-02-05 17:07] miztroh commented on #23
@chuckh Good call.  Done.

[2016-02-05 17:37] miztroh opened #24 "Add blockquote tool"

[2016-02-05 17:37] miztroh opened #25 "Add code tool"

[2016-02-05 17:39] chuckh opened #26 "Add remove formatting tool"

[2016-02-05 17:42] miztroh commented on #26
Already have that:

![remove-formatting-tool](https://cloud.githubusercontent.com/assets/2515209/12854117/6f66967e-cbfd-11e5-9a3e-08abe01168c8.png)

[2016-02-05 17:42] #26 closed

[2016-02-05 17:52] chuckh opened #27 "Add html view tool"
Possibly use `marked-element ` to do this.

[code]

[code]

[2016-02-05 17:53] chuckh commented on #26
Nice!  :smile:

[2016-02-05 17:55] chuckh opened #28 "Add view only tool"
Possibly use `marked-element ` to do this.  This would be a read only view where you could just click on links, etc.

[code]

[code]

[2016-02-05 18:04] #24 closed

[2016-02-06 05:02] miztroh opened #29 "Some edit operations produce divs; Need to sanitize"

[2016-02-06 05:09] #27 closed

[2016-02-06 05:09] #29 closed

[2016-02-06 05:25] miztroh opened #30 "link tool: replace iron-dropdown with paper-menu-button now that iron-overlay-behavior is fixed"

[2016-02-06 06:00] #30 closed

[2016-02-06 15:22] miztroh commented on #28
@chuckh Can you confirm this what you are looking for?

[2016-02-06 15:22] miztroh commented on #27
@chuckh Can you confirm this what you are looking for?

[2016-02-06 17:38] chuckh commented on #27
@miztroh That is great, thanks so much!  :100:

[2016-02-06 17:39] chuckh commented on #28
@miztroh That is great, thanks so much!  :100:

I appreciate all your hard work on this. Let me know if I can help in any capacity.

[2016-02-06 18:07] miztroh commented on #28
@chuckh No problem.  I'm so focused on adding / polishing features on the road to a 1.0 release, I haven't had much time to flesh out the unit tests.  If you've have / want some experience with ``web-component-tester``, I'd love to see more tests added.

Tests covering selection should be added to https://github.com/miztroh/selection-mgr.
Tests covering undo / redo history management should be add

[2016-02-07 04:48] #28 closed

[2016-02-08 17:04] chuckh commented on #28
I will give it a try adding some more tests later today.

[2016-02-08 20:39] #19 closed

[2016-02-09 15:35] miztroh opened #31 "link tool: queryCommandEnabled / queryCommandState broken in certain cases"

[2016-02-09 15:36] #31 closed

[2016-02-09 16:15] miztroh opened #32 "Allow setting demo content via URL so people can link others to test specific content"

[2016-02-09 16:16] #32 closed

[2016-02-09 18:09] miztroh opened #33 "Tooltips can appear behind content"

[2016-02-09 18:16] #33 closed

[2016-02-09 20:49] miztroh opened #34 "Chrome on Windows: queryCommandState may be wrong when image is selected"
This is a tracking issue for a bug I reported against Chrome: https://code.google.com/p/chromium/issues/detail?id=584939

[2016-02-11 05:02] miztroh opened #36 "Styling (built-in, end-user, etc.)"
wysiwyg-e needs to provide some default styling of editable content.  Additionally, it needs to provide some custom CSS properties / mixins to allow end users to override toolbar and editable content styles.

For editable content, my current thinking is to provide lots of custom CSS mixins to cover standard element types:

[code]

[2016-02-11 05:03] miztroh commented on #36
@chuckh Thoughts?

[2016-02-11 16:15] miztroh commented on #36
@chuckh I've added some default styles to a few element types within the editable area.  I've also added mixins like those mentioned above to all the relevant elements I could think of.  Take a look at let me know if this meets your needs.

As more tools are added to the mix (e.g. ``audio`` and ``video``), I'll have to add more mixins.

[2016-02-11 16:39] chuckh commented on #36
@miztroh Great job!  You are fast, I was just try to comment and you already made the changes. Thanks.

A few suggestions. For toolbar could you expose the following (I know you have done `--wysiwyg-toolbar` already).

### Styling for Toolbar
The following custom properties and mixins are available for styling:

Custom property | Description | Default
----------------|-------------|----------
`--w

[2016-02-11 16:41] chuckh opened #37 "Fix paper-material dependence"
In bower.json
change` "paper-material": "PolymerElements/paper-menu-button#latest"`,  to `"paper-material": "PolymerElements/paper-material#latest"`,

See line:
https://github.com/miztroh/wysiwyg-e/blob/master/bower.json#L40

[2016-02-11 16:44] #37 closed

[2016-02-11 16:45] miztroh commented on #37
Ha, copy-paste fail.  Thanks for the report.

[2016-02-11 16:52] miztroh commented on #36
@chuckh I don't see "max-height" in the ``paper-toolbar`` documentation.  I've had to set height to auto because the number of tools in use can vary.  It seems like providing a max-height option would be problematic.  However, I am considering making the toolbar vertical in narrow layouts.  Right now, it's difficult to use the editor from a phone because of how much space the toolbar takes up.  I'

[2016-02-11 16:54] miztroh opened #38 "Add video tool"

[2016-02-11 16:54] miztroh opened #39 "Add audio tool"

[2016-02-11 16:55] miztroh opened #40 "Make toolbar vertical, left-align on narrow screen devices (e.g. mobile)"

[2016-02-11 17:02] chuckh commented on #36
@miztroh you are correct I don't see it either. In addition to doing vertical toolbar you might consider taking H1-H2 and putting in a drop down menu like Github does.

![image](https://cloud.githubusercontent.com/assets/19915/12983437/20f19778-d09e-11e5-8969-2edf40265b72.png)

[2016-02-11 17:04] chuckh commented on #40
@miztroh in addition to doing vertical toolbar you might consider taking H1-H2 and putting in a drop down menu like Github does.

![image](https://cloud.githubusercontent.com/assets/19915/12983437/20f19778-d09e-11e5-8969-2edf40265b72.png)

[2016-02-11 17:06] chuckh commented on #36
Might consider importing defaut-theme.html (https://github.com/PolymerElements/paper-styles/blob/master/default-theme.html):

[code]

See example at: https://github.com/PolymerElements/paper-listbox/blob/master/paper-listbox.html#L13

[2016-02-11 17:35] miztroh commented on #36
``wysiwyg-toolbar-background`` property, ``wysiwyg-toolbar-color`` property, and ``wysiwyg-toolbar`` mixin added.  I think I'm going to pass on importing the default theme.  I'm a little more opinionated on the default ``wysiwyg-e`` styles.

I believe these changes address the main concerns of this issue.  I'm going to close this one.  I'll open another to track combining the headings into a dropd

[2016-02-11 17:35] #36 closed

[2016-02-11 17:35] miztroh opened #41 "Combine heading tools into a dropdown"

[2016-02-11 17:43] chuckh commented on #36
:+1:

[2016-02-11 17:56] chuckh opened #42 "Add tools tooltip descriptions"
Like bold below:
![image](https://cloud.githubusercontent.com/assets/19915/12984958/25bb4ff4-d0a5-11e5-95fb-e1367904a63e.png)

### Need Tooltip description as well as shortcut key
- [ ] View Menu
- [ ] Strikethrough
- [ ] Remove formating
- [ ] Link
- [ ] Image
- [ ] Number list
- [ ] Bullet list
- [ ] Indent right
- [ ] Indent left
- [ ] H1-H6
- [ ] Undo
- [ ] Redo

[2016-02-11 18:15] chuckh opened #43 "Add checkbox tool"
Add checkbox tool like:

- [ ] Item one
- [x] Item two
- [ ] Item three

Possible use:
[code]

[2016-02-11 18:57] chuckh opened #44 "Add Doc to wysiwyg-e.html"
@miztroh if you like I can take a shot at making a pull request for this?

See: https://github.com/PolymerElements/paper-listbox/blob/master/paper-listbox.html#L18

### Example:
[code]

[2016-02-11 18:58] miztroh commented on #44
Sounds great.  Thanks!

[2016-02-11 19:23] #41 closed

[2016-02-11 19:24] miztroh commented on #41
@chuckh What do you think?  I've updated the demo and README to show the new usage.

[2016-02-11 19:37] chuckh commented on #41
@miztroh Looks great!!!  :100: :cake: :fireworks: :beers:

[2016-02-11 19:41] #42 closed

[2016-02-11 19:42] miztroh commented on #42
Also fixed keyboard shortcut for Blockquote (Ctrl / Cmd + Q) and changed List keyboard short from Ctrl / Cmd + Shift + L to just Ctrl / Cmd + L.

[2016-02-11 19:56] chuckh commented on #42
Looks good.  Need to change Blockquote shortcut Cmd + Q.  This will cause Mac browser to close.  Maybe Ctrl / Cmd O or E.

Cmd T creates new Tab.

[2016-02-11 20:06] miztroh commented on #42
While the editable region has focus, it should trap Cmd + Q.  However, I'd hate for anyone to press it while they think it has focus and close their browser by accident.  Maybe I can just do Ctrl + '.

[2016-02-11 20:20] miztroh commented on #40
Reopening because tooltip positions aren't correct in narrow mode.

[2016-02-11 20:22] chuckh commented on #42
I was one of those people when testing `Cmd Q` it close Chrome and Firebox even when region had focus it.

`Ctrl + '` sounds good

[2016-02-11 20:35] #40 closed

[2016-02-11 20:43] chuckh commented on #42
While working on the doc I created the below shortcuts list.  Found couple if issues:

- Ordered list and Bullet list tooltip shows Cmd / Ctrl L and just tip of List
- Remove Format does not seem to work
- Need to add normal format to H1-H2 pull down
- Adding new line by pressing enter at end of existing line cursor jumps to top or you loose it.

### Shortcut List

Command         | Shortcut Mac |

[2016-02-11 20:49] chuckh opened #45 "Can't escape from View and Header dropdowns"
When you select the View dropdown menu (gears icon) or the Header dropdown menu you can't exit without making a selection. The `escape key` or tapping the content area should exit the dropdown menu.

[2016-02-11 21:12] miztroh commented on #45
I made a change to the ``selection-mgr`` dependency today.  Can you run a ``bower update`` and then test this again after clearing cache (or in an incognito window)?

[2016-02-11 21:26] chuckh commented on #45
Tried it again in Chrome incognito mode it worked fine both locally after doing `bower update` and on https://miztroh.github.io/bower_components/wysiwyg-e/demo/.  Looks like it was a caching issue.

[2016-02-11 21:26] #45 closed

[2016-02-11 21:27] miztroh commented on #45
Great, thanks.

[2016-02-12 04:38] miztroh commented on #34
After further testing, it appears this issue is limited to Windows.

[2016-02-12 15:06] miztroh commented on #43
@chuckh Care to submit a PR for this?

[2016-02-12 15:25] chuckh commented on #43
@miztroh I will give it a try.

[2016-02-12 15:28] chuckh commented on #43
## Screenshot of Doc
![image](https://cloud.githubusercontent.com/assets/19915/13011094/f50e6390-d159-11e5-86cd-0132146fe47c.png)

## Screenshot of Demo
![image](https://cloud.githubusercontent.com/assets/19915/13011130/255f2a70-d15a-11e5-8e0f-3285fc21932d.png)

[2016-02-12 18:34] #44 closed

[2016-02-12 19:39] chuckh opened #48 "Add Alignment Tool"
Add a dropdown menu to  center, left, right, or full justify.

Can use theses document.execCommand commands:

[code]

See https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand

[2016-02-12 19:44] miztroh commented on #48
Yeah, I'd been thinking about this too.  I've been frequently that page while developing `wysiwyg-e` ;)

[2016-02-12 19:57] chuckh opened #49 "Clear Formatting removes code but leaves behind pre"
Testedhttp://miztroh.github.io/bower_components/wysiwyg-e/demo/ use the Chrome 48 on Mac in Incognito mode. Got the following results:

### Not Working

- [ ]  Removing Blockquote formatting, clicking on List icon again removes it
- [ ]  Removing H1-H6 formatting
- [ ]  Removing list item(s) formatting, clicking on List icon again removes it
- [ ]  Removing link formatting
- [ ]  Fully removing co

[2016-02-12 20:08] chuckh opened #50 "Cmd + Shift + Q closes all applications"
Change Blockquote shortcut key from `Cmd + Shift + Q` since it closes all applications. Maybe `Cmd + '` it does not seem to have any conflicts.

### Screenshot with Popup after pressing `Cmd + Shift + Q` s
![image](https://cloud.githubusercontent.com/assets/19915/13018834/d2899872-d180-11e5-815e-f25f235feee2.png)

[2016-02-12 20:15] chuckh commented on #50
Below are Chrome Mac shortcut keys for reference. See https://support.google.com/chrome/answer/157179?hl=en

### Webpage shortcuts
Shortcut	Action
⌘+P	Prints your current page.
⌘+Shift+P	Opens the Page Setup dialog.
⌘+S	Saves your current page.
⌘+Shift+I	Emails your current page.
⌘+R	Reloads your current page.
⌘+F	Opens the find bar.
⌘+G	Finds the next match for your input in the find bar.
⌘+Shift

[2016-02-12 20:28] miztroh commented on #49
Quote from https://w3c.github.io/editing/execCommand.html:

So, most of this is not a problem.  However, removing `code` elements but leaving `pre` elements behind is definitely a problem.  I'll rename this issue to focus on that.

If you can think of a concise way to document the limitations of the clear tool, feel free to submit a PR.

[2016-02-12 20:38] miztroh opened #51 "Which tools should be able to modify code blocks?"
It seems to me that code blocks should not be affected by bold, italic, underline, strikethrough, headings, etc.  This is not currently the case.  @chuckh Opinions?

[2016-02-12 21:17] chuckh commented on #51
I agree except possibly bold. Sometimes it is nice to be able to bold some code to make it stand out.

[2016-02-12 21:26] chuckh commented on #49
So then we have no way of remove formatting `H1-H6` other then deleting the line. Maybe we could add a Paragraph option to the H1-H2 dropdown menu?

[2016-02-12 21:27] miztroh commented on #49
Yeah, adding "Paragraph" to the heading tool is definitely the way to go.  I'll add a separate issue.

[2016-02-12 21:28] miztroh opened #52 "Rework heading tool to be a more general block formatting tool (paragraph, blockquote, etc.)"

[2016-02-12 21:31] chuckh commented on #52
:+1:

[2016-02-12 21:53] chuckh commented on #43
I am working on this now.  Got inserting Checkbox working ok.

#### Todo for adding Checkbox Tool

- [x] Inserting Checkbox
- [ ] Remove Checkbox
- [ ] On Enter Key add another checkbox
- [ ] Handle changing code on checking/unchecking Checkbox

[2016-02-13 18:39] #49 closed

[2016-02-13 18:41] miztroh commented on #49
@chuckh Now, the "Clear Formatting" tool will move non-code nodes out of pre nodes and eliminate empty pre nodes.

[2016-02-13 20:37] miztroh commented on #52
@chuckh After further view, I think I'm going to leave this as is.  I don't want to combine blockquote with this, because headings are allowable within blockquotes.  Additionally, there's already a way to switch from any heading to a paragraph without deleting the whole line.  The dropdown tracks which heading (if any) is currently in use.  Clicking the selected heading will convert the text to a

[2016-02-14 20:42] chuckh commented on #52
@miztroh I still think adding Paragraph will be more intuitive to the average user then clicking with H1-6 they previously selected.

[2016-02-14 20:46] chuckh commented on #49
:+1:

[2016-02-14 20:55] chuckh opened #53 "Increase width of Link and Image Popup"
Increase width so you can see more of URL.

## Maybe width 400px  (use for Desktop & Tablets)
![image](https://cloud.githubusercontent.com/assets/19915/13036336/8fc09b0e-d319-11e5-8846-33bd47966857.png)

## Current (Use for mobile)
![image](https://cloud.githubusercontent.com/assets/19915/13036323/2d61d40a-d319-11e5-8886-2bedb6115bca.png)

[2016-02-19 14:50] hugozap opened #54 "Enter key inserts a line before"
When testing (the online demo) sometimes, when pressing ENTER it inserts a line before and cursor jumps to position 0.
(edit: Tested on Chrome / Mac )

[2016-02-19 15:05] hugozap commented on #54
One way to reproduce it is to position the cursor at the end of a H1 header and press enter

[2016-02-19 18:24] #53 closed

[2016-02-19 18:25] miztroh commented on #53
@chuckh Good suggestion.  Done.

[2016-02-19 18:26] miztroh commented on #54
I can't seem to duplicate this on Windows.  Before I fire up a VM to test this, maybe @chuckh can confirm.  Thanks for the report.

[2016-02-19 18:40] miztroh commented on #52
I agree.  Will add paragraph option and Ctrl (Cmd) + 0 shortcut.

[2016-02-19 18:41] #52 closed

[2016-02-19 20:06] miztroh opened #55 "Align keyboard shortcuts with those of WordPress"

[2016-02-19 20:40] miztroh opened #56 "Make indentation consistent (tabs vs spaces)"

[2016-02-19 20:43] #48 closed

[2016-02-19 20:43] #50 closed

[2016-02-19 20:43] #55 closed

[2016-02-19 20:43] #56 closed

[2016-02-19 21:35] miztroh opened #57 "Improve selectedLink handling"

[2016-02-19 21:35] #57 closed

[2016-02-19 22:02] miztroh opened #58 "Add option to hide built-in settings tool"

[2016-02-19 22:04] #58 closed

[2016-02-20 15:12] chuckh commented on #53
@miztroh Nice work, it looks good. :100:

[2016-02-20 15:24] chuckh commented on #48
@miztroh all the changes looks great :100: This editor coming together very nicely!

[2016-02-20 15:35] chuckh commented on #54
I just tested on a Mac tried Chrome, Safari and Firefox got the same behavior on all of them.  I tested H1, H2, and H3 jumps to top after pressing Enter at end of line then If your start typing it puts content at top of document.  Did not display this behavior for P, blockquote, image, link, or lists.

[2016-02-22 04:54] miztroh opened #59 "ordered / unordered list tools have opposite icons"

[2016-02-22 04:55] #59 closed

[2016-02-24 18:44] miztroh opened #60 "Editing existing links inserts the link URL into the selection"

[2016-02-24 18:45] miztroh opened #61 "Link editor validation doesn't allow relative URLs"

[2016-02-24 18:46] miztroh opened #62 "Link editor should treat existing link URLs as relative if they match the window.location.host"

[2016-03-04 07:26] miztroh commented on #43
@chuckh Any news here?

[2016-03-04 16:12] chuckh commented on #43
@miztroh have not had a chance to get back to this the last few weeks. I have been off working on a time sensitive client project. I should be able to get back to it next week. Sorry for the delay. My current status is:

- [x] Inserting Checkbox
- [x] Remove Checkbox (just need to backspace to remove)
- [ ] On Enter Key add another checkbox
- [x] Handle changing code on checking/unchecking Checkbo

[2016-03-29 16:05] miztroh opened #63 "Tools should inherit color from the toolbar"
Currently, this breaks in certain situations where ``wysiwyg-e`` is composed within other elements.

[2016-03-29 16:05] miztroh opened #64 "Tooltip vertical offset should be decreased"

[2016-03-29 16:06] miztroh opened #65 "Add padding to toolbar to match tooltip vertical offset"

[2016-03-29 16:19] #63 closed

[2016-03-29 16:19] #64 closed

[2016-03-29 16:19] #65 closed

[2016-03-29 20:58] miztroh opened #66 "Toolbar padding should be responsive"

[2016-03-29 20:59] miztroh opened #67 "Consolidate minWidth768px and tooltipPosition"
Instead of implementing on a per-tool basis, implement in ``wysiwyg-e`` using mediator pattern.

[2016-03-29 21:00] miztroh opened #68 "ordered / unordered: remove leftover data binding brackets from tooltips"

[2016-03-29 21:02] miztroh opened #69 "Add tooltip for settings menu"

[2016-03-29 21:03] #66 closed

[2016-03-29 21:03] #67 closed

[2016-03-29 21:03] #68 closed

[2016-03-29 21:03] #69 closed

[2016-04-02 00:14] WaverleyDesign opened #70 "Removing iron-overlay behaviour from demo?"
I'm just trying out the demo in my own project and get figure out how to just use the editor without the iron-overlay messing up the rest of my app - I'd just like it to display inline. But when I just remove the iron-overlay behaviour, nothing displays?

[2016-04-02 02:54] #70 closed

[2016-04-02 02:58] miztroh commented on #70
I take it you figured it out?  The demo page uses a separate element wrapper to make it appear in that overlay.

[2016-04-02 10:02] WaverleyDesign commented on #70
Yeah, thanks for that and sorry for the bother!

[2016-04-05 18:43] miztroh opened #71 "_prismHighlight: validate str input"

[2016-04-05 18:43] #71 closed

[2016-04-11 19:25] maxiplay opened #72 "Add grammar checking"

[2016-04-11 19:28] miztroh commented on #72
@maxiplay Don't most browsers have this built in?

[2016-04-11 19:32] maxiplay commented on #72
Perhaps my formulation is not enough precise. I would like to have conjugation, grammar corrections etc..

[2016-04-11 19:34] miztroh commented on #72
Ah.  I will consider PRs for this.

[2016-04-12 13:09] maxiplay commented on #72
After some research, it seems only server side solutions are availables. It require big dictionnaries and big treatments. The best solution I found is https://languagetool.org/. It's open source code in java and use Lucene, like Elastic Search.It's based on HUNSPELL. There is ~20 languages managed.

Can we imagine an UI integration of ajax request to get a list of "match" errors ?  With error high

[2016-04-12 13:25] miztroh commented on #72
``wysiwyg-e`` is designed such that every tool (plugin) gets notified when the content changes.  As such, you could write a tool to fire AJAX requests to check the new content.  However, you couldn't display any grammar errors inside of the content itself because that would change the content.  Any errors would have to be displayed in an overlay, which might prove to be difficult, especially when

[2016-04-12 18:46] maxiplay commented on #72
Accept to change content to have grammar checking could be an option choosen by user with a tool button. I imagine a span around the text in error with a specific style like red underline ( style could depend on css variable). When user unset tool the html is sanitize from grammar checking span. If there is a function that give the pure text without html code we wouldn't have two AJAX requested be

[2016-04-12 18:51] miztroh commented on #72
Since this is likely to require utilization of a third-party service, I'm not inclined to develop this as part of the core package.  However, I would be willing to make improvements to the core package that allow for easier integration of features like this.  If this is something you care to work on, just let me know what roadblocks you encounter in terms of integration with ``wysiwyg-e``.  For no

[2016-04-12 18:51] #72 closed

[2016-04-12 18:56] maxiplay commented on #72
Yes I understand your point of view. I will do it with a parent element of my instance of wysiwyg-e and if there is an integration problem, I will let you know, but I think none will occur. Thanks for the discussion.

[2016-04-13 15:28] maxiplay opened #73 "Facilitate integration of grammar checking feature"
From parent element of wysiwyg-e I send an AJAX request to a grammar checkin server. My first simple approch is to change content of editor applying a span with an other color text around error:
`<span style="color:red">error</span>` but the sanitize function replace the span by a `<p>` and remove the style attribute.  What do you preconize ? From now the only solution I see is to modify the sanit

[2016-04-13 15:32] miztroh commented on #73
Yeah, you can't modify the content itself for grammar / spelling checks.  For each modification, a new undo / redo history record is created.  We don't want users to be able to undo to a state where grammar errors are visible.  Any error indicators will have to live in a separate container (e.g. overlay).

[2016-04-13 15:48] maxiplay commented on #73
Indeed I did not think to the undo/redo problem. And the overlay is not satisfying of my point of view for user experience. And I imagine the differents problems with positionning an overlay on word in a text node.. And like you said past, problems with scroll.. Need to meditate to an other solution.

[2016-04-13 21:23] miztroh opened #74 "Replace deprecated iron-flex-layout import with new custom-style module"
Instead of importing iron-flex-layout/classes/iron-flex-layout.html, this component should use iron-flex-layout/iron-flex-layout-classes.html and use that module with a custom-style.

[2016-04-14 14:08] miztroh commented on #74
Forgot to fix the demo.

[2016-04-14 14:08] #74 closed

[2016-04-14 14:19] miztroh opened #75 "Build issue"
See https://github.com/travis-ci/travis-ci/issues/5899

[2016-04-14 14:24] #75 closed

[2016-04-17 15:28] maxiplay commented on #73
After some search, I'll be forced to to use an oldSchool popup saying grammar error with text selection in the editor. I will add a button in bar button to open the dialog. Example https://www.spellchecker.net/spellcheck/
Perhaps a day the web platform will give a API to acces to spellCheck.

[2016-04-19 13:03] miztroh commented on #73
If you write the tool plugin such that it selects the text that contains the grammar issue, you can then position a tooltip at the selected text using ``this.range0.getBoundingClientRect()`` inside any of your tool's methods.

[2016-04-20 10:40] maxiplay commented on #73
Good idea. Thx

[2016-04-25 12:26] maxiplay commented on #73
Hello,

I meet a problem with the `&nbsp;` character and perhaps others html special chars. In the editor, when I copy and paste a text with no-break space, the text nodes again contains the html special char `&nbsp;`.(open dev tool and inspect)

When I send the full innerHTML to my grammar checker, before checking, I can separate markup from text to specify them to the checker. Thanks to that I c

[2016-04-29 01:52] jperera84 opened #76 "I got error in the element code"
Hello,
I'm very sure that the problem that I have is something that I don't know but I would like ask you for help, I installed the element via bower in my polymer project, all the installation went fine I don't got any error.
After that I reference the component in the element.html:
`<link rel="import" href="../bower_components/wysiwyg-e/wysiwyg-e.html">`
And after that I put the usage code in th

[2016-05-02 10:32] maxiplay commented on #73
Hi. In order to manage `&nbsp;` i coded the fact to don't take in account `&nbsp;` in grammar checking server side and recalculate the errors positions after checking. After this, I had to create a recursive javascript algorithm to know what HTML node to use for range selector. Because my checking server give me a start and a end position relative to the innerHTML. After this I applied differents

[2016-05-02 15:44] jperera84 commented on #73
Hello @maxiplay , I know this is nothing related with the grammar theme but I really need help on this and I was wonder if you could give me an idea.
I'm very sure that the problem that I have is something that I don't know but I would like ask you for help, I installed the element via bower in my polymer project, all the installation went fine I don't got any error.
After that I reference the com

[2016-05-02 15:46] miztroh commented on #76
My guess is that you're not importing all the tools (bold, underline, etc.) that your HTML is using.  Check the demo for an example of what you should be including.

[2016-05-02 15:47] miztroh commented on #73
I will address the ``&nbsp;`` issue in the sanitizer function.  Opening this as a separate issue.

[2016-05-02 15:47] miztroh opened #77 "Sanitize &nbsp;"

[2016-05-02 15:50] jperera84 commented on #76
Thank you very much I will check this and I let you know, thank you very much I really appreciate your help, by the way the control is great.

[2016-05-02 20:17] maxiplay commented on #73
I'm curious about how your editor works. I first tried to sanitize in sanitize function but the focus was lost and ctrl z had errors. Could you provide a technical explanation of the worflow ?

[2016-05-03 10:54] maxiplay commented on #76
If you want more help, post a plunkr with your code example that don't work and I will check it.

Example of plunkr with polymer https://plnkr.co/edit/KqR3X5PKfuTKq7oNgTvO?p=info

[2016-05-12 12:25] maxiplay opened #78 "How can you clear undo/redo memory ?"
I changed contentEditor following different sections. The problem is if I go to "section two" after "section one" I can undo text but I don't want.

[2016-05-14 21:34] maxiplay opened #79 "Responsive behavior failed if window stay large"
If I set a small size to the container, the responsive behavior does not change (button verticals). If I change the windows size it's work. Do you use media queries to apply responsiveness ?

Could you not use https://github.com/PolymerElements/iron-resizable-behavior in order to apply responsiveness following the real size of the container ?

First capture is with manual small size , Second with

[2016-05-15 06:26] maxiplay opened #80 "First <p> should not be remove"
Try this

Go to demo https://miztroh.github.io/bower_components/wysiwyg-e/

Selectall content editor and remove.

write something and type enter, so the cursor return to the beginning

[2016-05-17 14:15] miztroh commented on #79
I will look at adding a ``forceNarrow`` property that you can use for this purpose.

[2016-05-17 14:15] miztroh commented on #80
Confirmed.  Will address.

[2016-05-17 14:16] miztroh commented on #76
Closing.

[2016-05-17 14:16] #76 closed

[2016-05-17 14:16] miztroh commented on #34
Will leave open to track, but this should be resolved once Chrome 52.0.2739.0 is released.  See above URL for more information.

[2016-05-17 14:18] miztroh commented on #78
``wysiwyg-e`` has a ``clearHistory`` method you can use for this purpose.

[2016-05-20 15:46] Analect opened #81 "Paste images to body; ability to attach files"
@miztroh
Thanks for this nice tool. Are there any plans to allow for images to pasted directly (rather than having to hit the image and then embed a url to an image location).  Also, is the ability to add file attachments on the roadmap anywhere? Thanks.

[2016-05-20 19:32] maxiplay commented on #78
Ok thanks

[2016-05-20 19:32] #78 closed

[2016-06-14 18:29] miztroh commented on #81
Pasting should already work.  I just copied your avatar and pasted it into the demo.  Works in Chrome anyway.

https://miztroh.github.io/bower_components/wysiwyg-e/demo/index.html?value=%3Cimg+src%3D%22https%3A%2F%2Favatars2.githubusercontent.com%2Fu%2F4063815%3Fv%3D3%26amp%3Bs%3D96%22+alt%3D%224063815+%2896%C3%9796%29%22%3E

No plans to incorporate file attachments, as that doesn't really fit wit

[2016-06-14 18:29] #81 closed

[2016-06-14 19:39] Analect commented on #81
@miztroh
Thanks.  It seems an image needs to have a URL for it to work though ... if I just use something like a snipping tool or screen-capture on a mac and then try to paste from the clipboard ... it doesn't appear to work. Is that the expected behaviour?

![image](https://cloud.githubusercontent.com/assets/4063815/16056955/abf3e960-326f-11e6-9778-8368bf26c8a4.png)

Ref. attachments ... understo

[2016-06-14 19:47] miztroh commented on #81
In order to display an image, a URL would have to be involved.  For example, if I take a Word document with text and images and copy / paste it into a WYSIWYG editor, only the text comes through.  Image placeholders are there, but not the actual images.

I am interested in expanding the functionality of the image tool to allow you to "upload" images to the editor in the form of base64-encoded stri

[2016-06-14 20:24] Analect commented on #81
@miztroh
I was previously using something called redactor (https://imperavi.com/redactor/) where I had it set up such that pasted images and file attachments were pushed to a mongodb gridfs file-system ... and then placeholders (of form embedded or attached) with relevant identifers were used to reference those files.

I was hoping to get this working in a polymer context and maybe use something l

[2016-06-14 20:30] miztroh commented on #81
You could certainly do this with ``wysiwyg-e``.  Basically, you'd create a custom tool to replace the provided image tool.  Your tool would let users upload an image, then let them browse uploaded images to insert one into the content.

You could do the same for file uploads.  Write a custom tool that allows users to upload a file.  Then, they can browse their uploaded files and select one.  Whene

[2016-06-14 20:54] Analect commented on #81
FYI, there are a few other demos out there that are handling the provision of local backend quite eloquently, such as this demo from vaadin, where [pouchdb](https://github.com/vaadin/expense-manager-demo/blob/master/app/elements/overview-page.html#L112) is being used to [handle](https://github.com/vaadin/expense-manager-demo/blob/master/app/elements/expense-editor.html#L194-200) uploads. I notice

[2016-06-14 21:32] miztroh commented on #81
Sure.  There are lots of great reasons to incorporate image / file uploads.  That's why I made ``wysiwyg-e`` modular in that everything in the toolbar is a tool plugin.  You can create your own based on the tool behavior it provides.  I'm all for third-party tools.

As for the core functionality, I have to draw the line somewhere.  I see no added value in spending time developing a demo utilizing

[2016-06-14 21:52] Analect commented on #81
Understood.

[2016-07-09 12:09] jperera84 opened #82 "Issue with the Image tool"
II have this problem when I tried to enter an Image URL in the Image tool there is some problems:

1. I can't use the KeyBoard to move to the start or end of the url.
2. I can't click on the Url textbox because url disappear.
3. When I enter the url if I click on the Ok button to show the image in the content nothing happen, the url is remove and nothing happen, I mean is like no event were trigge

[2016-07-13 23:09] jperera84 commented on #82
Please, any help on this, I can't find the problem. In the Browser Console I don't have any error, also I checked the network tap in the Browser and I don't have any problem all the files are downloaded.
Thanks in advanced
## Files References
[code]

[2016-07-18 12:39] hyyan opened #83 "Is there undocumented way to add code tag"
Hello

I was wondering if Is there undocumented way to add code tag , before I dig more in the code to add such a feature if not exist yet

Thanks in advance

[2016-07-18 12:39] hyyan commented on #83
As I can see in the demo there is already a code tag , but not clear how to add it

[2016-07-18 13:26] miztroh commented on #83
It is not currently possible via the interface to insert a code tag.  There is an open ticket regarding the code tag: https://github.com/miztroh/wysiwyg-e/issues/51

My plan is to take care of some of the more urgent issues and important enhancements, then circle back to the code tag.   Of course, pull requests are always welcome :)

[2016-07-18 13:26] #83 closed

[2016-07-18 13:28] hyyan commented on #83
Sure , I understand , I am working on this tool now , I will send a PR whenever it is ready.

Thanks for the great job  :)

[2016-07-18 14:20] hyyan opened #84 "Is it safe to rely on `document.getSelection()`"
Is it safe to rely on `document.getSelection()` or there is a replacement method ?

[2016-07-18 14:26] miztroh commented on #84
``wysiwyg-e`` is built on functionality from https://github.com/miztroh/selection-mgr/, so you can use something like ``wysiwygE_instance.getSelection();``.

[2016-07-18 14:26] #84 closed

[2016-07-18 14:28] hyyan commented on #84
I see , but what is the way to get the wysiwygE_instance within the tool ?

[2016-07-18 14:34] miztroh commented on #84
``wysiwygE_instance`` is a variable name I made up to reference the ``wysiwyg-e`` element instance.  For example: ``document.querySelector('wysiwyg-e').getSelection();``.

[2016-07-18 14:35] hyyan commented on #84
I see  ...

Thanks for the fast help

[2016-07-19 07:18] hyyan opened #86 "HTML Edit mode"
Hi again ,

Is HTML Edit mode planned for this project in the near future ?

Thanks

[2016-07-19 10:42] hyyan commented on #49
It seems the fix for this issue cause another issue , as you can see in the Gif , we can not edit the code and enter a new line without creating a new code block .

![ysiwyg-e20160719123532](https://cloud.githubusercontent.com/assets/4313420/16947162/bcfd3118-4dad-11e6-86c6-54480078d4bd.gif)

[2016-07-19 11:01] hyyan opened #87 "Classes Must Not Be Removed"
I think the classes must not be removed from the html content [here](https://github.com/miztroh/wysiwyg-e/blob/master/wysiwyg-e.html#L522)

Is there any reason to do that , Not really clear

[2016-07-21 18:21] miztroh commented on #34
With the stable release of Chrome 52, Google has resolved this issue.  Closing.

[2016-07-21 18:21] #34 closed

[2016-07-21 19:56] #79 closed

[2016-07-22 14:15] miztroh commented on #79
@maxiplay Your screenshots have me intrigued.  Is there somewhere online I can see your project?

[2016-07-22 15:25] maxiplay commented on #79
I could give you a test login very soon. For now my test environnement is not presentable ;)

[2016-07-22 15:30] miztroh commented on #79
@maxiplay Looking forward to it.

[2016-07-22 18:09] #77 closed

[2016-07-22 18:13] miztroh commented on #73
The sanitize function is an override of the function from the ``undo-mgr`` behavior.

See https://github.com/miztroh/undo-mgr/blob/master/behavior.html#L67-L76.

I'm going to close this issue.  Please open a new issue for any further specific bugs / enhancements.

[2016-07-22 18:13] #73 closed

[2016-07-22 18:21] miztroh commented on #87
It's a workaround for the following Polymer issue: https://github.com/Polymer/polymer/issues/3336.

[2016-07-22 18:21] #87 closed

[2016-07-22 18:22] miztroh commented on #86
No.  Allowing direct editing of the HTML opens a whole can of worms to ensure proper structure, semantics, etc.  I need to focus on the core content editing experience before I consider adding something like this.

[2016-07-22 18:22] #86 closed

[2016-07-22 18:24] miztroh commented on #82
@jperera84 Please provide a an example of your issue.  If you can't get a JS Bin working, I'll accept an animated GIF recording that demonstrates your problem.

[2016-07-25 17:39] miztroh opened #90 "Remove force-narrow attribute from demo; Left over from testing"

[2016-07-25 17:41] #90 closed

[2016-07-26 01:15] jperera84 commented on #82
@miztroh This is a gif that show the issue:
![issue](https://cloud.githubusercontent.com/assets/13193138/17122790/7aff5058-52ac-11e6-9386-88924d425d61.gif)
In the previous post I copy/paste the references.
As you could see in the gif, there is something weird with the image element, I can copy or write the url but I can't move the cursor the keyboard, and also if I click in any place the url is er

[2016-07-26 14:22] miztroh opened #91 "Image and link tool buttons should be layout horizontal"

[2016-07-26 14:22] #91 closed

[2016-07-26 14:24] miztroh commented on #82
I've made a change to the image tool.  See https://github.com/miztroh/wysiwyg-e/issues/91.

Please do your test again, but use the demo page instead of your own. Make a new .gif using the demo page.

https://miztroh.github.io/bower_components/wysiwyg-e/

[2016-07-26 15:14] jperera84 commented on #82
@miztroh, I tested the demo with the new version for the image tool, and it really works fine here is the gif:
![issue-demo](https://cloud.githubusercontent.com/assets/13193138/17143410/2a217ec0-5321-11e6-883b-c1066ec1549c.gif)
After that I updated my project and it seems to be updated but it doesn't work fine:
![issue-pro](https://cloud.githubusercontent.com/assets/13193138/17143539/941be1bc-5321

[2016-07-26 15:24] miztroh commented on #82
Thanks for your .gifs.  It helps to see that the issue is limited to your context.  If you can host your code somewhere I can actually use it, I'll be happy to take a look.

[2016-07-26 15:27] jperera84 commented on #82
@miztroh , thank you so much, I'm going to upload to githup so you could take a look.

[2016-07-26 15:38] jperera84 commented on #82
@miztroh, this is the project and the url for the element that it is using the component, please let me know when you finish to delete the project, thanks
https://github.com/jperera84/signasafe-admin/blob/master/src/my-blogentry.html

[2016-07-26 17:23] jay8t6 opened #92 "space key is acting strange"
When I enter a space for the first time, the cursor moves back to the beginning of the sentence. This is also happening in your demo file. Can you get this fixed?

[2016-07-26 17:24] miztroh commented on #92
What operating system and browser are you using?

[2016-07-26 17:26] jay8t6 commented on #92
Its chrome 52. Latest version. I just checked Safari 9.1.1, its happening there too.

[2016-07-26 17:53] miztroh commented on #92
Confirmed in Chrome and Safari on OS X El Capitan.

[2016-07-26 19:50] jay8t6 commented on #92
same thing happens when you press the return key

[2016-07-29 03:28] #80 closed

[2016-07-29 03:39] miztroh commented on #82
@jperera84 I was just looking to demo the page itself.  Can you email me a link to a demo site?

[2016-07-29 15:39] #61 closed

[2016-07-29 18:37] joeblew99 commented on #92
me too
chrome latest on osx

[2016-07-29 19:06] #82 closed

[2016-07-29 19:06] #54 closed

[2016-07-29 19:06] #92 closed

[2016-07-29 19:21] miztroh commented on #92
@joeblew99 @jay8t6 Can you confirm this fixes it for you?

[2016-07-29 19:27] miztroh commented on #54
@hugozap @chuckh Can you confirm this fixes it for you?

[2016-07-29 19:38] jay8t6 commented on #92
@miztroh yes the space issue is fixed. Thanks!

[2016-07-29 19:49] chuckh commented on #54
I just tested on a Mac tried Chrome, Safari and Firefox and it worked correctly! 💯

[2016-07-29 20:45] miztroh commented on #43
@chuckh Any update here?

[2016-08-01 20:14] miztroh opened #93 "Fix whitespace issues"

[2016-08-01 20:55] #93 closed

[2016-08-02 04:50] #60 closed

[2016-08-02 05:11] miztroh opened #94 "Image / link tools: Remove last bits of validation code"

[2016-08-02 05:12] miztroh opened #95 "Image / link tools: set properties when dropdown is opened"

[2016-08-02 05:12] miztroh opened #96 "Image / link tools: Autofocus URL input when dropdown is opened"

[2016-08-02 05:13] #94 closed

[2016-08-02 05:13] #95 closed

[2016-08-02 05:13] #96 closed

[2016-08-03 21:57] robrez opened #97 "backspace problem"
I'm having trouble w/ backspace when `value` an empty string

Haven't had a lot of time to play around, but it seems I can workaround by defaulting value to `<p><br/></p>`

[2016-08-03 22:18] robrez opened #98 "update tooltip position"
the updateTools function is not updating tooltip position.

in 'narrow mode', tooltips are still top aligned and are being truncated.

[code]

[2016-08-03 23:43] robrez commented on #97
Not sure if this is right, but I patched the _backspace function...

[code]

I also noticed that backspace was not working in the input fields provided by some of the tools, eg: link.

I patched _kedown..
[code]

[2016-08-04 13:32] #97 closed

[2016-08-04 13:34] miztroh commented on #97
Thanks for the report.  Only needed to check the source of the event against the editing target.

[code]

[2016-08-04 13:51] miztroh opened #99 "When creating new links / images, clicking in the URL field clears its text"

[2016-08-04 13:53] miztroh commented on #98
Confirmed.  Will address.

[2016-08-04 14:01] #98 closed

[2016-08-04 15:41] robrez commented on #97
Thanks for the fix! still wondering about the 1st of the two problems I mentioned (regarding backspace/delete in the _backspace function)

[2016-08-04 17:11] #99 closed

[2016-08-04 17:23] miztroh opened #100 "Sanitize against setting invalid values"

[2016-08-04 17:23] #100 closed

[2016-08-04 17:25] miztroh commented on #97
That is actually a separate issue that I needed to guard against in the ``sanitize`` function.  See #100.

[2016-08-08 20:03] jay8t6 opened #101 "edit html"
Can we get an option to enter HTML code into the editor? Right now it shows the read only mode and we cant modify the html.

[2016-08-09 13:50] miztroh commented on #101
I have no plans to offer this as part of ``wysiwyg-e`` or its accompanying tools.  As its name suggests, this element is for what-you-see-is-what-you-get editing.  Direct editing of HTML the opposite of that.

That being said, I see no reason why you couldn't do one of the following:
* Create a custom tool.  Tools are sent an [update](https://github.com/miztroh/wysiwyg-e/blob/master/wysiwyg-e.html

[2016-08-09 13:50] #101 closed

[2016-08-09 15:57] jay8t6 commented on #101
all I am asking for is to make the textarea editable when the edit html option from the settings icon is clicked. Its showing the source code, why not make it editable? Does it break anything? All of the open source editors like tinymce, and ckeditor has that feature.

[2016-08-09 17:44] miztroh commented on #101
Glad you're trying the custom tool.  Making the read-only HTML view editable won't work because it's displaying a version that's been modified by syntax highlighting, etc.

[2016-08-11 18:44] jay8t6 opened #102 "create tags"
Can you version your code so the releases are better handled?

[2016-08-11 18:55] miztroh commented on #102
Indeed.  The goal is to resolve the open issues, then release 1.0.0 with semantic versioning from there on out.

[2016-08-11 18:55] #102 closed

[2016-08-11 18:56] miztroh commented on #102
Additionally, the reason I haven't been doing semantic versioning yet is because I need to be free to change things drastically during these early stages of development.  The goal for the 1.0 release is that everything should be fairly stable.

[2016-08-11 19:15] admwx7 commented on #102
That's just for a 1.0 release once your API is fully stable, prior to a stable release when you're still in alpha you could be releasing 0.x in the meantime for people that want to use versioning in their apps before you've hit 1.0.

[2016-08-11 19:25] miztroh commented on #102
I understand the desire for versioning.  1.0 should be released in the next week or so.

[2016-08-12 03:23] miztroh opened #103 "Focus tool inputs after dropdowns open"

[2016-08-12 03:27] miztroh opened #104 "Allow tool dropdowns to dynamically align"

[2016-08-14 21:34] DominicWrege opened #105 "Space key bug"
The user can´t enter a new blank after a word because the cursor will jump to the beginning of the line.

http://d.pr/i/PN88

OS: Mac OS X 10.11.6
Browser: Google Chrome Version 52.0.2743.116 (64-bit)

[2016-08-15 13:58] miztroh commented on #105
Confirmed.  Will address.

[2016-08-16 17:44] #103 closed

[2016-08-16 17:44] #104 closed

[2016-08-16 17:44] #105 closed

[2016-08-16 17:53] #38 closed

[2016-08-16 17:53] #39 closed

[2016-08-16 17:55] miztroh commented on #43
Closing due to age.  Create a new one if / when a PR is ready.

[2016-08-16 17:55] #43 closed

[2016-08-16 18:45] miztroh commented on #105
@DominicWrege Can you confirm that this resolves the issue for you?

[2016-08-16 18:46] DominicWrege commented on #105
@miztroh Yes!

[2016-08-17 21:46] miztroh commented on #51
After giving this some thought, it seems to me that ``wysiwyg-e`` should not enforce a limitation here.  ``wysiwyg-e`` does not exist to serve as a code editor, but rather a general purpose WYSIWYG editor.  If people choose to format text inside of a code block for emphasis, ``wysiwyg-e`` will not prohibit them.

[2016-08-17 21:46] #51 closed

[2016-08-17 21:55] miztroh opened #106 "Don't require class="wysiwyg-tool" on tool children"
Instead, have ``WYSIWYG.ToolBehavior`` use ``wysiwyg-tool`` in its ``hostAttributes``.  Then, update ``wysiwyg-e`` to use ``<content select="[wysiwyg-tool]"></content>``.

[2016-08-17 21:57] #25 closed

[2016-08-17 21:57] #106 closed

[2016-08-18 00:58] miztroh commented on #102
@jay8t6 @admwx7 Happy v1.0.0!

[2016-08-18 03:42] jay8t6 commented on #102
Nice work! Thank you!

Sent from my iPhone

[2016-09-01 04:38] maxiplay opened #107 "Seems crash chrome on project with polymer 1.4.0"
I don't know if its really polymer 1.4.0 or related dependency but the demo crash chrome.

Updating polymer and all dependencies to latest resolved the problem

[2016-09-02 12:55] miztroh commented on #107
Glad to know the latest version is working for you.  I've been developing using the latest version of Polymer.  Now that ``wysiwyg-e`` has a 1.0 release, I'm going to start specifying versions in the bower config.

[2016-09-02 12:55] #107 closed

[2016-09-05 11:29] misterzorgy opened #109 "Strange bug with editor when I try to toggle button"
When I toggle editor button my caret goes on the next line with letter I tried to pring
![ezgif-1734384828](https://cloud.githubusercontent.com/assets/4949934/18246568/1a131e70-7375-11e6-89d8-1774f324ef23.gif)

[2016-09-13 18:48] miztroh commented on #109
Please provide a demo of this somewhere I can test it.

[2016-09-19 17:23] maxiplay opened #110 "Bold button bug when delete all and write first line"
Open demo

[https://miztroh.github.io/bower_components/wysiwyg-e/](url)

Select all and remove. Bold is becomed black. (Why ?)

Then write text without clicking anywhere and click on bold to disabled.

Type a letter. The cursor go to bottom and text stay bold

[2016-09-19 17:28] maxiplay opened #111 "Add paste sanitization"
Open the word doc and copy and paste in the editor demo (after clear)

[Bonjour cousine.docx](https://github.com/miztroh/wysiwyg-e/files/480692/Bonjour.cousine.docx)

Now open the html view and you will see

`<o:p class="style-scope wysiwyg-e"></o:p>` that is not xhtml valid.

[2016-09-19 17:36] maxiplay opened #112 "Selection can be lost when clicking toolbar buttons"
Go to the demo and clear it.

Type a word.

Select the word with the mouse. and click multiple times on "italic". The mouse selection is lost. It shouldn't (test on word, ckeditor, tinyMCE)

[2016-09-19 17:39] maxiplay opened #113 "Code tool error label"
The code tool has the label "undo"

[2016-09-19 17:46] #113 closed

[2016-09-19 17:51] miztroh commented on #110
When you clear all, the top line is an h1 because of the heading that's there initially.  To remove the heading, you have to press backspace one more time.  Headings are always detected as bold and cannot be additionally bolded by the underlying JS API.

Try ``document.queryCommandState('bold')`` and ``document.execCommand('bold')`` while a heading element is selected.

[2016-09-19 17:51] #110 closed

[2016-09-19 17:51] maxiplay opened #114 "Adding video seems does not work"
I tried to add this video

https://www.youtube.com/watch?v=ytMqO-WQpQ4

But the video does not appear. Just a square

![capture](https://cloud.githubusercontent.com/assets/8363127/18642747/321d553e-7ea2-11e6-9474-e43bf1df34e4.PNG)

[2016-09-19 17:53] miztroh commented on #114
That's because you're URL needs to be in this format: https://www.youtube.com/embed/ytMqO-WQpQ4.

[2016-09-19 17:53] #114 closed

[2016-09-19 17:55] maxiplay commented on #114
Does not seems very convenient for normal user.

[2016-09-19 17:56] miztroh commented on #114
Actually, this seems to not work either.  There's no intelligence built into the video player.  It's currently designed to work only with direct links to video files (e.g. mp4, ogg, etc.).

[2016-09-19 18:03] maxiplay opened #115 "Bold button bug (Alternate bold and unbold)"
Open the demo and clear it.

Type ddddd and click on bold. Type dddddd. Click on bold. Type ddddd. Strange behavior. The last text stay bold and a 'd' not bolded appear at the bottom

[2016-09-19 18:04] maxiplay commented on #115
Same bug with others buttons

[2016-09-19 18:08] maxiplay commented on #110
ok :+1:

[2016-09-19 18:08] maxiplay opened #116 "Small width view display bug"
![capture](https://cloud.githubusercontent.com/assets/8363127/18643317/dd7d83ac-7ea4-11e6-89ec-5919941751b7.PNG)

[2016-09-19 18:14] maxiplay commented on #116
A little gift https://qlf-writecontrol.tk (alpha alpha version)

Don't be afraid by the "english" version. I will need a translator to have a good english.(French is better ;))

[2016-09-19 18:17] maxiplay commented on #114
Is there a possible improvment in future releases ?

[2016-09-19 18:29] miztroh commented on #114
Sure.  PRs welcome :)

[2016-09-19 18:30] maxiplay opened #117 "Bulleted list from word bug"
Copy and paste the text from the word below.

Bulleted list seems not to behave correctly and cursor betwen line seems too to the left

[texte de test pour l'éditeur.docx](https://github.com/miztroh/wysiwyg-e/files/480810/texte.de.test.pour.l.editeur.docx)

![capture](https://cloud.githubusercontent.com/assets/8363127/18643972/b867fb9e-7ea7-11e6-8b93-a120bd0e248a.PNG)

With Ckeditor no problem.

h

[2016-09-19 18:30] miztroh commented on #116
Thanks for sending the URL.  Very cool to see ``wysiwyg-e`` out in the wild :)

[2016-09-19 18:32] maxiplay commented on #116
:)

[2016-09-19 18:32] miztroh commented on #116
I can't confirm this using Chrome on Windows 10.  Are you using the latest version?  Please provide your operating system and browser.

[2016-09-19 18:34] maxiplay commented on #116
Version 53.0.2785.116 on windows 7.

[2016-09-19 18:36] maxiplay commented on #116
Appear after manual resize down

[2016-09-19 20:34] miztroh opened #118 "Tools can get cut off in narrow mode if viewport is too short"
![test](https://cloud.githubusercontent.com/assets/2515209/18648064/8e9a886e-7e7e-11e6-9319-eedb2c24edc5.png)

[2016-09-19 20:47] #116 closed

[2016-09-19 20:47] miztroh commented on #116
@maxiplay Can you confirm this fixes it?

[2016-09-21 18:30] miztroh commented on #117
Closing in favor of #111.

[2016-09-21 18:30] #117 closed

[2016-09-21 18:31] miztroh commented on #111
Yeah, you'll experience this issue and likely many more when pasting content from Word.  Currently, ``wysiwyg-e`` doesn't have any paste sanitization.  Will address.

[2016-09-26 18:58] maxiplay opened #119 "Avoid to force roboto font"
Could you use the standard --paper-font-common-base css variable instead of force roboto font-family ?

[2016-09-26 19:01] miztroh commented on #109
Closing due to lack of response.  Feel free to reopen with a demo somewhere I can test.

[2016-09-26 19:01] #109 closed

[2016-09-26 19:04] miztroh commented on #115
Confirmed, but I think this is due to the selection bug.  Closing in favor of #112.

[2016-09-26 19:04] #115 closed

[2016-09-26 19:04] miztroh commented on #112
Confirmed.  Will address.

[2016-09-26 19:16] #119 closed

[2016-09-26 19:17] miztroh commented on #119
You can use the new --wysiwyg-font variable.

[2016-09-28 07:24] jpodwys commented on #118
I think it would be nice if they became vertically scrollable here and horizontally scrollable rather than wrapping on a wider screen.

[2016-10-08 18:08] maxiplay opened #120 "How manage translation ?"
Hello ! :)

I would like to provide a translation for button tooltip.

How can I do ?

[2016-10-08 18:27] maxiplay opened #121 "Be able to customize colors for theming"
Example with video button

[code]

[2016-10-10 01:15] aletorrado opened #122 "Add / remove event listeners via attached / detached callbacks"
I've noticed some ```addEventListener``` calls without their matching ```removeEventListener```, for example in ```wysiwyg-tool-audio```. Is this ok?

[2016-10-10 18:58] #118 closed

[2016-10-10 19:01] miztroh commented on #118
@jpodwys Thanks for the feedback.  I had considered this myself when working on the fix.  For now, the scroll is only available in narrow mode.  I prioritized this as a bug fix.  I will create a separate issue for the horizontal scroll as that is an enhancement, rather than a bug fix.

[2016-10-10 19:03] miztroh opened #123 "Scroll items on the horizontal toolbar"
Enhancement.  Much like the fix for #118.  Decide whether to make this configurable and default.

[2016-10-10 19:03] miztroh commented on #118
@jpodwys See https://github.com/miztroh/wysiwyg-e/issues/123.

[2016-10-10 19:07] miztroh commented on #121
This is a good request.  Will address.

[2016-10-10 19:11] miztroh commented on #120
You'd probably want to look at doing it using Polymer's ``AppLocalizeBehavior``.

https://elements.polymer-project.org/elements/app-localize-behavior

[2016-10-10 19:22] miztroh commented on #122
While the events are only added once when the element becomes ready, it is true that they would not be garbage collected when the element is detached from the DOM.  If you're creating and destroying lots of an affected element like ``wysiwyg-tool-audio``, there might be performance implications.  Will address.

[2016-10-10 19:27] jpodwys commented on #118
Thanks!

[2016-10-11 20:56] #112 closed

[2016-10-11 20:56] miztroh commented on #112
@maxiplay Can you confirm this fixes the issue for you?

[2016-10-12 09:44] jwillmer opened #124 "Conversion into markdown"
I really like the editor but to store the content and to easily transform it to other formats it would be cool to have a way of transforming it to markdown. Could you advice me if there is a easy/good solution for this or if this would turn out to be a seperate component?

[2016-10-12 09:49] aloscha commented on #124
If we establish that each paragraph could have just one heading, than editor makes sense for that usage.

[2016-10-12 13:32] miztroh commented on #124
While I agree that markdown conversion can be a very useful feature, I don't think it would be appropriate to bundle an HTML-to-markdown converter with ``wysiwyg-e``.  It would add bloat for users that don't need that functionality and code complexity for me in terms of trying to support markdown compatibility for all the various content types the editor supports (audio, video, etc.).

However, it

[2016-10-12 13:32] #124 closed

[2016-10-13 16:11] miztroh commented on #112
@maxiplay Have you been able to test this on your end?

[2016-10-13 17:12] #120 closed

[2016-10-13 17:17] maxiplay commented on #112
Sorry, I will say you it very soon (tonight)

[2016-10-13 17:24] miztroh commented on #120
@maxiplay I have updated ``wysiwyg-e`` and its tools with support for Polymer's ``AppLocalizeBehavior``.  I've included the 'en' localizations for tooltips, labels, etc.  Each component manages its own ``resources`` object like the following:

[code]

You can add your own localizations as a one-off like this:

[code]

Or, you could contribute your changes back to the project (e.g. https://github.c

[2016-10-13 18:06] maxiplay commented on #120
Nice job. i will obviously contribute :)

[2016-10-13 18:10] maxiplay commented on #112
Seems work on the demo but not on my local website. Need to investigate.

[2016-10-13 18:33] maxiplay commented on #112
If you select a word and click looong time on bold the selection is lost.

[2016-10-13 18:57] miztroh commented on #120
Awesome.  If you'd like to go through all the files and provide corresponding French translations, that'd be great.  Just create an issue called "French localization" or something and then create a PR with a commit message of "Fixes #\<issue>".

[2016-10-13 19:46] maxiplay opened #126 "French localization"

[2016-10-13 19:49] maxiplay commented on #120
I have been too speed. I do the work before you give me intructions.

[2016-10-14 01:27] #126 closed

[2016-10-14 20:36] maxiplay opened #128 "Selection bug"
Hello,

When I select a word and I stay click on button with light right mouvement the selection is lost.

I published a vidéo.

[video](https://drive.google.com/file/d/0Bz9a1ywlc9N8cktrSEdnNnRPZVk/view)

[2016-10-14 20:41] maxiplay commented on #128
New equivalent bug.

Remove all content. Type a word and select it. Click lot of time on button and the selection is lost.

[video](https://drive.google.com/file/d/0Bz9a1ywlc9N8X2tGR3VWUk04SUU/view )

[2016-10-14 20:52] maxiplay commented on #128
Equivalent bug when set manually simple value

[video](https://drive.google.com/file/d/0Bz9a1ywlc9N8UXYtVHk3bFIyN2M/view)

[2016-10-17 03:14] #128 closed

[2016-10-17 03:17] miztroh commented on #128
@maxiplay Thanks for the videos.  I believe I've resolved this.  Please test this on your end and let me know how it goes for you.

[2016-10-17 03:30] miztroh opened #129 "Sanitize function locks up the page in IE / Edge"

[2016-10-17 18:04] miztroh commented on #128
@maxiplay Can you confirm this fixes things for you?

[2016-10-17 19:30] miztroh commented on #129
Underlying issue resolved via https://github.com/miztroh/undo-mgr/issues/5.

[2016-10-17 19:30] #129 closed

[2016-10-17 20:08] miztroh opened #130 "Tests fail under IE 11"

[2016-10-19 12:47] DominicWrege opened #131 "Adding support for saving content"
It's not clear how can the user save a the writing text from that editor. And I didn't found any documentation which has a save method.

[2016-10-20 14:35] miztroh opened #132 "Tests fail under Edge"

[2016-10-20 14:37] #130 closed

[2016-10-20 18:53] miztroh opened #133 "Flesh out documentation"

[2016-10-20 18:53] #133 closed

[2016-10-21 15:02] aletorrado commented on #122
The last commit is wrong. The listeners are binded twice, once for attached and once for detached, so new functions are created and references don't match. You should store the binded function and remove that same function reference.

[2016-10-21 15:10] miztroh commented on #122
Agree with assessment about storing reference to handlers.  Where do you see listeners are added twice?

[2016-10-21 16:17] aletorrado commented on #122
They're not added twice. They're just binding twice `this` to `wysiwyg-tool-audio`.

[2016-10-21 20:32] miztroh opened #134 "Custom icon sets"
Use a custom icon set for ``wysiwyg-e`` and each of the tools and avoid loading multiple sets of ``iron-icons``.

[2016-10-23 10:27] maxiplay commented on #128
Seems good :+1:

[2016-10-23 11:17] maxiplay opened #135 "Console error"
With the new version it seems there is an error with "tools" see the capture.

![capture](https://cloud.githubusercontent.com/assets/8363127/19625818/1576b25e-9923-11e6-9fd0-85a3283b93af.PNG)

[2016-10-23 11:18] maxiplay commented on #134
Have You watched the polymer stream live about performance ? ^^

[2016-10-23 11:29] maxiplay opened #136 "Copy and paste does not work with classic bloc note or notepadd++"
Whereas with word it works.

See the vidéo

[https://drive.google.com/file/d/0Bz9a1ywlc9N8TUVfX2JLT0VKQ0k/view](url)

[2016-10-23 11:59] maxiplay opened #137 "Editor Performance"
It seems that the more text, more is slow. Lot of other editors are like this but I think we could do better.

It seems the rendering is applied for all content each time I type a character. We could use a sort of incremental rendering.

This editors seems have a better behavior with large text =>

[froala](https://froala.com/wysiwyg-editor)

[medium](https://yabwe.github.io/medium-editor/demo.htm

[2016-10-23 12:03] maxiplay commented on #137
A interesting list of the wysiwig eco system

https://github.com/iDoRecall/comparisons/blob/master/JavaScript-WYSIWYG-editors.md

[2016-10-24 15:49] miztroh commented on #134
Yeah, that's what made me think about doing a performance review.  I'm nearly done with the custom icon sets.  However, most of the other performance improvements suggested are end user improvements (only loading polyfills if required, async loading polyfills and imports, etc.).  HTTP2 stuff is obviously up to the the host of any projects using ``wysiwyg-e``.  Custom icon sets are something I can

[2016-10-24 16:02] miztroh opened #138 "Bold Tool: Remove ' offset="5"'"
Remove erroneous text from start of file

[2016-10-24 17:24] #134 closed

[2016-10-24 17:24] #135 closed

[2016-10-24 17:24] #138 closed

[2016-10-24 18:53] miztroh opened #139 "Demo Performance"

[2016-10-24 20:58] #123 closed

[2016-10-24 21:10] #121 closed

[2016-10-24 21:27] #122 closed

[2016-10-24 21:34] #136 closed

[2016-10-29 17:16] aletorrado opened #140 "Ctrl+Backspace to delete an entire word"
I don't know why this isn't working, given that `wysiwyg-e` relies on `contenteditable`. It would be nice to fix this. Do you think it possible?

[2016-10-29 17:20] aletorrado opened #141 "User interaction change event"
It would be nice to have an event fired when `value` have changed because of user interaction, just like `paper-input` do. I could attach an observer to the value property but I wouldn't disguise if it's because of user input or not.

[2016-10-29 17:49] miztroh commented on #141
http://miztroh.github.io/bower_components/wysiwyg-e/#wysiwyg-e:property-value

The ``value`` property already notifies via a ``value-changed`` event.  You can listen for that.

[2016-10-29 17:49] #141 closed

[2016-10-29 17:51] miztroh commented on #140
While it ``wysiwyg-e`` does make use of a ``contenteditable`` target, many of the common key bindings have their default actions prevented.  This is to allow ``wysiwyg-e`` and individual tools to manage their own key bindings.  As such, this would be an enhancement.  I have no objection to adding this functionality.

[2016-10-30 14:11] aletorrado commented on #141
I need to get notified only of changes made by user interaction (not when modifying the `value` property programatically). This is accomplished in `paper-input` using a change event.

This is how `paper-input` defines the `change` event:

[code]

[2016-10-30 14:13] aletorrado commented on #122
This same issue is repeated in the video tool, when attaching `click` and `keydown` handlers to the document. I think this issue should be labeled as `bug`, as it implies a memory leak.

[2016-10-30 15:10] miztroh commented on #122
The resolution commit addresses all event bindings in `wysiwyg-e` and the included tools.

As for the label, I define bugs as anything that breaks the end user experience.  The original code did not break the user experience.  It did, however, pose a potential performance issue.  In resolving the issue, I have enhanced performance.  That's why this is labeled as an enhancement.

[2016-10-31 09:41] maxiplay opened #142 "Dynamicaly change language seems does not work"
It works when component is started but not when you programmatically change the language property with databinding

[2016-10-31 16:57] maxiplay opened #143 "Be able to customize disabled color"
I am using different themes in my website and the white color is sometimes an inapropriate color for disabling and I can't see buttons. You can try on my website with the theme "sky" for example.

https://writecontrol.fr

Could you add some variable to customize it ?

[code]

[2016-10-31 17:20] #143 closed

[2016-10-31 17:22] maxiplay commented on #143
Thx !

[2016-10-31 17:25] miztroh commented on #142
Can you provide a demo?  I can't confirm this.  The following works for me to switch to French and back:

``$('wysiwyg-e').language = 'fr';``
``$('wysiwyg-e').language = 'en';``

[2016-11-01 11:59] maxiplay commented on #142
Ok I will provide very soon

[2016-11-01 14:12] maxiplay commented on #142
I create a special branch (languageTester) in my repo. After test it seems working. I need to investigate in my app. Sorry.

[2016-11-01 15:20] maxiplay commented on #142
Indeed I had a carriage return in my language variable not visible in chrome debugguer. So "fr" is not equal to "fr\n" and the translation does not work.

[2016-11-01 15:33] miztroh commented on #142
Glad to hear you got it resolved.

[2016-11-01 15:33] #142 closed

[2016-12-07 17:24] MarcosGalaviz opened #144 "How to use it with polymer cli?"
Hi thank you so much for your component, I am triying to use it inside a component with the new polymer cli but i can't do it, which is the best way to do that?

Thanks a lot.

[2016-12-07 20:00] miztroh commented on #144
Can you be more specific?  As long as you're importing the element definition file for ``wysiwyg-e`` and any of the tools you're trying to use (bold, etc.), you should be able to use it just like README.md file indicates:

[code]

[2016-12-07 23:30] MarcosGalaviz commented on #144
Sorry I was using it wrong [😊]   it would be nice to can change the color of the font [😃]

Thanks

________________________________
De: Jonathan Cox <notifications@github.com>
Enviado: miércoles, 7 de diciembre de 2016 08:00:37 p. m.
Para: miztroh/wysiwyg-e
Cc: MarcosGalaviz; Author
Asunto: Re: [miztroh/wysiwyg-e] How to use it with polymer cli? (#144)

Can you be more specific? As long as you're

[2016-12-08 13:36] miztroh commented on #144
@MarcosGalaviz ``wysiwyg-e`` supports a lot of CSS custom properties.  Check out the full list via the link below:

https://miztroh.github.io/bower_components/wysiwyg-e/

[2016-12-08 13:36] #144 closed

[2016-12-12 08:09] hyyan commented on #49
@miztroh is there a chance to fix to this problem , I have mentioned this issue many times but with no response , I have sent a PR and it was not accepted , the Implementation of [sanitize method](https://github.com/miztroh/wysiwyg-e/blob/master/wysiwyg-e.html#L654) is not correct .

[2016-12-12 13:27] miztroh commented on #49
@hyyan Please open this as a new issue as the issue described here as been resolved.

[2016-12-12 14:00] hyyan opened #145 "Code Tool Is Not Working Correctly"
Hello @miztroh

Thanks again for this awesome work .

The main issue I am facing currently that I need the code tool to work as users would expect from such a tool , but unfortunately it is not , I have created my own fork of this project and my own code tool , but
I don like the idea of maintaining my own fork of this project as every time I sync the fork with the master brunch  I get new problem

[2016-12-12 18:18] EliArtist opened #146 "Not working with Meteor?"
I tried to use wysiswyg-e within my Meteor/Polymer Application, but get the Error

I just used <wysiwyg-e></wysiwyg-e> in my Code without any Tools or additional attributes.
I imported wysiwig-e.html, wysiwyg-tools-behavior.html and wysiwyg-tool-styles.html

[2016-12-13 09:00] hyyan opened #147 "Editor FullScreen Mode"
Is full-screen mode planned to this project ?

Thanks

[2016-12-13 09:23] hyyan opened #148 "Hidding Undo , Redo Buttons"
Hey

Currently , it is not possible to use the undo , redo buttons without showing them in the toolbar , is there a solution for that which I might not be aware of  .

Thanks

[2016-12-13 13:36] miztroh commented on #147
Since ``wysiwyg-e`` will scale to the size of its parent, I'll probably just leave this up to implementers.  You could create a basic tool with the fullscreen icon that fires a ``wysiwyg-fullscreen`` event or something like that.  The parent node would listen for that event and take the necessary action.  Check out the following project by another ``wysiwyg-e`` implementer.  I believe he incorpora

[2016-12-13 13:36] #147 closed

[2016-12-13 13:40] miztroh commented on #146
Check dev tools for a network request to ``bower_components/keyboardevent-key-polyfill/index.js``.  If that request doesn't complete, you'll get that error.

[2016-12-13 13:58] hyyan commented on #148
@miztroh  sounds a good Idea , thanks

[2016-12-13 15:03] EliArtist commented on #146
Seems like the keyboardevent-key-polyfill library is causing the problem with Meteor.
I can avoid the error, when deleting the loader in `bower_components/keyboardevent-key-polyfill/index.js`, but now, I'm getting the error `Undo is not defined`. Working on it.

[2016-12-13 15:24] miztroh commented on #146
Looks like I'll be able to phase out this polyfill over the next several months.  In the meantime, I'm not sure how much help I can be in terms of troubleshooting loading of required files in Meteor.  If you're project only needs to work in the browsers with KeyboardEvent.key support (see link below), then you can just replace the polyfill's index.js with a blank script.

http://caniuse.com/?feat=

[2016-12-13 15:24] #146 closed

[2016-12-21 21:23] miztroh opened #149 "Upgrade to Polymer 2.0"
Get the editor and tools ready for Polymer 2.0 using new ES2015 syntax.  Note that transpilation will be required to support IE11.  Work has already begun in the ``2.0-preview`` branch.  My plan moving forward is to address all bug reports, feature requests, etc. in that branch.

https://www.polymer-project.org/1.0/blog/2016-12-21-polymer-2.0-update.html

[2016-12-21 21:32] miztroh opened #150 "Sanitize function should only interact with mutated nodes"
This should be a major perf win.

[2016-12-21 21:32] miztroh commented on #139
Closing for now.

[2016-12-21 21:32] #139 closed

[2016-12-21 21:33] miztroh commented on #137
Closing in favor of #150.

[2016-12-21 21:33] #137 closed

[2016-12-22 18:24] miztroh opened #151 "Remove edit / view / html mode, syntax highlighting, etc. to improve performance"
Every time an edit is made, the syntax highlighted version has to be updated.  This gets to be quite intensive for longer documents.  Since the whole point of ``wysiwyg-e`` is to be a what-you-see-is-what-you-get editor, these features aren't really part of that core mission.  Will remove for the 2.0 release.

[2016-12-22 19:13] miztroh commented on #151
Fixed in the 2.0-preview branch.

[2016-12-22 19:13] #151 closed

[2016-12-22 19:13] miztroh commented on #150
Fixed in the 2.0-preview branch.

[2016-12-22 19:13] #150 closed

[2016-12-23 06:36] miztroh commented on #111
Fixed in the 2.0-preview branch.

[2016-12-23 06:36] #111 closed

[2016-12-27 15:19] hyyan opened #152 "Editor Validation"
Hello

Is is possible to handle editor validation , currently I can  not detect if editor is empty or not , the value of editor in case it is empty always equals to `<p class="style-scope wysiwyg-e"><br class="style-scope wysiwyg-e"></p>`

Is there an event or something like `paper-input` event `change`

Thanks in advance

[2016-12-29 04:33] miztroh commented on #152
This will be resolved in the 2.x release.  I have added a 'text' property to ``undo-mgr`` (a ``wysiwyg-e`` dependency).  See https://github.com/miztroh/undo-mgr/commit/6e16ec7bf7129eed4d489cf6c67431a3c8eb43e5.  Once 2.x is released, you'll be able to do something like this for validation:

[code]

Note that this approach only helps you check for text content.  It would still be possible to have no

[2016-12-29 04:33] #152 closed

[2016-12-29 15:33] miztroh commented on #140
This is fixed in the 2.0-preview branch.

[2016-12-29 15:33] #140 closed

[2016-12-29 16:03] miztroh commented on #132
Since I'm liking going to have to redo all the tests for the 2.x release, I'm closing this ticket.

[2016-12-29 16:03] #132 closed

[2017-01-06 21:28] mmnosek opened #153 "Inconsistency in styling documentation"
Just spent some time finding out why toolbar background color styling doesn't work. Documentation is not valid for the actual code:

**In documentation:**
`wysiwyg-toolbar-background-color`

**In code:**
`wysiwyg-toolbar-background`

[2017-01-09 22:02] hrazack opened #154 "How to actually use wysiwyg-e in the first place?"
I must be a bit thick, but I can't quite figure out how to get the component to work.
I've installed it in /bower_components, I've imported it, and put this in my html:

[code]

And... nothing gets displayed. Am I missing something? (Obviously I am, but I can't figure out what...)

[2017-01-10 10:47] hyyan commented on #154
hey @hrazack  just you are on the correct path , just add the `opened` attribute

[code]

[2017-01-10 14:59] hrazack commented on #154
Thanks for the reply! Unfortunately it doesn't seem to solve the issue... And I don't see the "opened" attribute in the doc?

[2017-01-10 15:12] hyyan commented on #154
@hrazack it seems , you are right , I remember reading about this property somewhere but , never mind I should have checked before answering .

Are you getting any errors in the console ?  it seems really hard to help like that , maybe a snippet from you project

[2017-01-10 15:36] miztroh commented on #154
You don't need an ``opened`` attribute.  That is for ``wysiwyg-demo`` which wraps ``wysiwyg-e`` using ``Polymer.IronOverlayBehavior``.  You really just need to make sure you've imported the following (remove any tools you aren't using):

[code]

Then, just add in the following HTML (again, remove any tools you aren't using):

[code]

[2017-01-10 16:11] hrazack commented on #154
Thanks for all the help, that's much appreciated! I still don't seem to get it to work. What I've done is that I've used the polymer starter kit (from here: https://www.polymer-project.org/1.0/start/toolbox/set-up). Then I've just added the code you suggested. Here is my-view1.html:

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/wy

[2017-01-10 16:22] hrazack commented on #154
For further info here is a screenshot of the view along with the console showing the markup. The editor's markup is there, but as you'll see it doesn't seem to be rendered properly.

[https://drive.google.com/file/d/0B4OXh2xgRe0mcGFVcVR6dGZQNms/view?usp=sharing](url)

[2017-01-10 16:27] hrazack commented on #154
Sorry, I know it's confusing on the jpeg, but the bit that's highlighted is not `<div class="card">`, it's `<div id="editable">` from inside wysiwyg-e.

[2017-01-10 16:29] miztroh commented on #154
Oh, I see.  Misread that.  Try giving ``wysiwyg-e`` an explicit height.

[2017-01-10 16:33] hrazack commented on #154
Ah, yep, that did the trick! Here is what worked:

[code]

Thanks a lot for the help!

[2017-01-10 22:15] miztroh commented on #153
Good catch.  I've resolved this in the 2.0-preview branch.

[2017-01-10 22:15] #153 closed

[2017-01-11 12:16] mmnosek commented on #153
Thanks for fixing and your awesome work!

[2017-01-12 01:25] miztroh commented on #154
@hrazack @hyyan You may want to check out the new demo that's coming with 2.0.  The new demo puts the code right in HTML instead of obscuring it away inside another custom element.  I've also added comments to help new users get going fast.  I'm considering this issue closed.

https://github.com/miztroh/wysiwyg-e/blob/2.0-preview/demo/index.html

[2017-01-12 01:25] #154 closed

[2017-01-12 01:27] miztroh commented on #154
I should also note that there's nothing about this new demo that requires Polymer 2.0.  Feel free to look at this one while using the current release version of ``wysiwyg-e``.

[2017-01-12 03:58] hrazack commented on #154
Thanks, @miztroh, that new demo code is indeed super useful and very clear!

[2017-01-17 12:58] jpicus opened #155 "Unable to paste in the video/image form"
Hello.

It works fine for me, except i'm unable to paste and image or video url in the form opened via the corresponding toolbar button.

Any clues ?

Thanks

[2017-01-19 09:33] warpech opened #156 "Wysiwyg-e does not work when Shadow DOM polyfill is enabled"
When I change `webcomponents-lite.min.js` to `webcomponents.min.js` in `demo/index.html` (meaning: enable Shadow DOM polyfill), the demo does not work in Firefox and other polyfilled browsers.

![bug](https://cloud.githubusercontent.com/assets/566463/22101176/9a52d062-de32-11e6-811c-283722cc8a95.gif)

[2017-01-23 08:33] hyyan opened #157 "Moving to wysiwyg by tab"
Hello

I have noticed that it is not possible to move by tab key from a paper-input to wysiwyg editor , is there a workaround for that ?

Thanks in advance

[2017-01-24 22:46] miztroh commented on #155
I'm not able to confirm this in Chrome.  What OS / browser are you using (include versions).

[2017-01-24 22:53] miztroh opened #158 "Indent tool should not use blockquote"
Use something like this instead:

[code]

[2017-01-24 23:06] miztroh commented on #156
Looks like there are issues with the Shadow DOM polyfill and ``contenteditable`` nodes.  Unless I'm missing something, I'll close this as a won't-fix.

[2017-01-24 23:06] #156 closed

[2017-01-24 23:06] miztroh commented on #156
For your reference:

https://github.com/webcomponents/webcomponentsjs#execcommand

[2017-01-25 09:37] warpech commented on #156
Perhaps the solution is to put the `contenteditable` node in light DOM, not in Shadow DOM?

This custom element is lovely, but if it is not compatible with Shadow DOM polyfill, then it misses the most common use case.

[2017-01-27 18:28] jpicus commented on #155
It was a problem linked to the "shady" mode
Went back to shadow mode solved the problem

[2017-01-30 21:46] coco1979ka opened #159 "Support for tables and colors"
Are there any plans to support colors and tables in future?

[2017-02-01 19:16] #155 closed

[2017-02-01 20:58] miztroh commented on #159
Added a color picker tool for the 2.x release.  Please open a separate issue for the table tool request.

[2017-02-01 20:58] #159 closed

[2017-02-01 22:20] coco1979ka opened #160 "HTML table"
It would be very helpful to have a support for HTML tables.
Clicking on the table item should open a menu to select how many rows and columns are needed.
After that it should also be possible to add/insert/delete lines or columns.

[2017-02-10 16:13] abdonrd opened #161 "Proposal: Add a placeholder"
Like the `input` or `textarea` elements, add a placeholder:

`placeholder`: A hint to the user of what can be entered in the control. The placeholder text must not contain carriage returns or line-feeds.

Reference: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input

[2017-02-10 17:28] miztroh commented on #161
Care to add a description of what you're asking for?

[2017-02-10 17:31] abdonrd commented on #161
Sorry, I thought the title was clear. Updated

[2017-02-10 19:08] miztroh commented on #161
Sure, but what are you wanting me to add a placeholder ***to***?

[2017-02-10 19:09] abdonrd commented on #161
To the `wysiwyg-e`.

[2017-02-10 19:12] miztroh commented on #161
I don't know how that would work.  ``wysiwyg-e`` is never empty.  Even if you set its value to an empty string, it will repopulate with the following:

[code]

[2017-02-10 19:16] miztroh commented on #161
If that was unclear, I meant that you would never see a placeholder even if I added one because ``wysiwyg-e`` is never empty.

[2017-02-10 19:30] abdonrd commented on #161
Thank you, I understood.
But why not show a placeholder when the content is:

[code]

[2017-02-10 20:15] miztroh commented on #161
Don't placeholders only appear when there is no content?

[2017-02-11 01:19] abdonrd commented on #161
Yes, but if you set the "empty status" as `<p><br></p>` I think is ok.

[2017-02-24 15:05] jpicus opened #163 "Shady or Shadow"
We have Polymer global behaviou set on "shadow" mode
(      // Setup Polymer options
      window.Polymer = {
         dom: 'shadow',
...)

Maybe not related, but It seems that wysiwyg-e has some issues with this configuration ?
- unable to paste something copied from "outsite wysiwyg-e"
- when opening the image selector, nothing happens when clicking on the validataion or cancle buttons

Any clue

[2017-03-05 17:51] miztroh commented on #163
The shady / shadow issue likely doesn't apply anymore as I've merged my 2.0-preview code into master to work with Polymer 2.0.  Please open separate issues for other items.

[2017-03-05 17:51] #163 closed

[2017-03-17 21:08] #161 closed

[2017-03-17 21:09] miztroh commented on #161
Added a ``placeholder`` string property, a ``showPlaceholder`` computed property, and a ``--wysiwyg-editable-placeholder`` CSS mixin.  Thanks for the suggestion.

[2017-03-28 21:29] jerryeventjoy opened #167 "Issue with URL and delete"
Thank you for creating this module.
I have integrated this module into our dashboard and successfully read and write values from and to our database.  I assumed all options to work right out of the box.  Unfortunately, I am having issues around adding URL and deleting characters.

URL issue:  After I select word to add URL, clicking on URL button would loose selection and the form would turn into

[2017-03-29 11:59] Juravenator opened #168 "pasting is inconsistent with rich input"
For my example, I copied some text from [Cupcake Ipsum](http://www.cupcakeipsum.com/).

When I paste this text first into a plain text editor, which parses it into plain text, and then into wysiwys-e, everything works as expected.
That is, the pasted content is visible to the user and the `value` property is updated.

However, when I paste the formatted text, the content of the editor changes, but

[2017-03-29 12:03] Juravenator commented on #168
PS: typing something after pasting does set the `value` property to what the user would expect

[2017-03-31 20:31] #168 closed

[2017-03-31 20:32] miztroh commented on #168
The above commit should resolve the issue for you.  Thanks for the report!

[2017-03-31 20:38] miztroh commented on #167
Please submit individual GitHub issues for each problem, along with steps to reproduce and information as to your operating system and browser.  Thanks!

[2017-03-31 20:38] #167 closed

[2017-04-11 08:18] Juravenator opened #170 "tool paper-menu-buttons: focus issues in paper-input"
Tools that implement dropdown content, such as:
- `wysiwyg-tool-link`
- `wysiwyg-tool-justify`
- `wysiwyg-tool-justify`

don't function in Polymer 2, it seems the controls in them can't be clicked.
The only exception to this pattern is `wysiwyg-tool-color`, which seems to work fine.

[2017-04-16 21:11] miztroh commented on #170
Sorry for the early close.  I did resolve one issue where the dropdowns weren't opening.  This was related to slot changes in ``paper-menu-button``.  However, I am still experiencing the issue where the contents of those dropdowns aren't accessible via click.

[2017-04-18 13:55] miztroh commented on #170
Still in-progress, but I fixed the ``paper-menu-dropdown`` slotting issue.

https://github.com/miztroh/wysiwyg-e/commit/5f7edc3dc20cd25ae7745f1d824e6e75fd871cec

[2017-04-18 13:57] miztroh commented on #170
Still in-progress, but I fixed the ``paper-item`` styling issue.

https://github.com/miztroh/wysiwyg-e/commit/806200fa10541ad159cadd4db5ab852696a861ec

[2017-04-18 13:58] miztroh opened #171 "Toolbar scrolling is broken"

[2017-04-18 15:21] #171 closed

[2017-04-19 13:29] miztroh opened #172 "Replace event.target with event.composedPath()[0]"
This issue affects multiple tools.

[2017-04-19 13:31] miztroh commented on #170
Updated title to narrow scope to ``paper-menu-button`` -> ``paper-input``.  The ``paper-item`` issue is caused by something else.  See https://github.com/miztroh/wysiwyg-e/issues/172.

[2017-04-19 13:33] #172 closed

[2017-04-21 14:21] #170 closed

[2017-04-21 19:34] #145 closed

[2017-04-21 19:38] miztroh commented on #145
@hyyan:  I've resolved this issue as noted below.

- The code tool now uses only a single ``code`` tag (no ``pre``).
- You can now create code blocks from selected text
- The tabbing issue is not specific to the code tool.  I have opened https://github.com/miztroh/wysiwyg-e/issues/158 to track a resolution on this.
- The clear tool now removes the code element as expected.

Thanks for your patienc

[2017-04-21 20:43] #158 closed

[2017-04-21 20:45] miztroh commented on #149
Impending release candidate.  Closing this tracking issue.

[2017-04-21 20:45] #149 closed

[2017-04-21 20:50] miztroh opened #173 "Update tests"

[2017-04-21 22:17] miztroh commented on #173
Looks like I had already done this.

[2017-04-21 22:29] hyyan commented on #145
@miztroh Thanks for your awesome work, I will try to test your new changes tomorrow , and if there are any bugs left, I will report 😄

Keep it up 🍺

[2017-04-22 17:43] #173 closed

[2017-04-23 20:48] Daniel-Gherard opened #174 "Youtube Link"
I think it would be amazing to have a Youtube button to add a url and show Youtube videos in the editor.

[2017-04-24 14:08] KhanaevRoman opened #175 "position and size"
Good day!
How can I hold toolbar on the top of editor **in any width** and make toolbar icons **smaller**?

With respect, Roman.

[2017-04-25 12:47] Juravenator opened #176 "backspace in firefox fires multiple times"
on firefox (53.0), and with Polymer 2 (RC-7), the backspace button fires 3 times instead of only once. This has been reproduced on Firefox for mac and linux, Chrome works fine in all cases.

[2017-04-25 17:07] miztroh commented on #175
You can set the ``forceWide`` property to ``true`` to keep the toolbar on top.  The toolbar is configured to let you scroll the toolbar buttons left and right if they can't all fit.  I am not interested in making the icons any smaller, as that will negatively impact touch interactions.

[2017-04-25 17:07] #175 closed

[2017-04-25 17:08] miztroh commented on #176
Confirmed.  Will address.  Thanks for the report.

[2017-04-28 05:24] KhanaevRoman commented on #175
Ok, thank you

[2017-04-28 17:06] miztroh commented on #174
I will accept a PR for this :) ``wysiwyg-e`` has been designed from the ground up to support custom tools.  In the 2.0 (pre) release, there's a ``WysiwygTool`` class you can extend.  Check out the code for any of the current tools to see how this is done.

[2017-04-28 17:06] #174 closed

[2017-04-29 04:37] Daniel-Gherard commented on #174
Ok. I'll do a PR then. Very good job on the component.

[2017-05-17 14:45] phani1kumar opened #178 "Youtube URLs doesn't work in the video tool"
Firstly, Thank you very much for such a wonderful component.

I tried to use the Youtube links inside the video URLs and nothing comes up. Should I host the videos myself and provide the URLs?

[2017-05-17 18:51] miztroh commented on #178
This is not currently a feature of the video tool.  Currently, the video tool provides very basic functionality.  You give it a URL and it creates an HTML5 video element with the given URL as its source.  It would probably be best to create a separate tool for use with YouTube.  I will happily accept PRs for this.

[2017-05-17 18:51] #178 closed

[2017-05-17 19:13] #176 closed

[2017-05-17 23:12] samsinha opened #179 "v1.1.0 dependency issue with selection-mgr"
Hello,

This issue is regarding `wysiwyg-e v1.1.0`.

It looks like `wysiwyg-e v1.1.0` has a dependency - `"selection-mgr": "miztroh/selection-mgr#latest"` as listed in bower.json.

selection-mgr#latest pulls down selection-mgr v2.0.0.

However, in `wysiwyg-e.html`, it's trying to import `<link rel="import" href="../selection-mgr/behavior.html">` which does not exist in v2.0.0 of selection-mgr.

Th

[2017-05-18 03:30] miztroh commented on #179
Check out release 1.1.2.

[2017-05-18 03:30] #179 closed

[2017-05-18 13:56] samsinha commented on #179
Thanks for the quick turnaround on this.

[2017-05-31 13:05] maxiplay opened #180 "Intermittent loss of selection when clicking tool buttons"
Hey ! I quiclky tested demo here https://www.webcomponents.org/element/miztroh/wysiwyg-e

and a selection problem occur

See [video](https://drive.google.com/file/d/0Bz9a1ywlc9N8QjdXNUZPSVVieFU/view)

[2017-05-31 13:08] miztroh commented on #180
Confirmed.  Updated title to more accurately reflect the issue.

[2017-05-31 13:16] maxiplay opened #181 "Impossible to unbold after remove all"
New test with bolding

[video](https://drive.google.com/file/d/0Bz9a1ywlc9N8dlhFTkFPWnhOV2s/view)

[2017-05-31 13:20] miztroh commented on #181
In your test, you haven't actually removed all.  You're cursor is inside of the empty heading element.  Headings will always indicate bold.  If you press backspace once more, it will delete the heading element and the bold indicator will reset.

[2017-05-31 13:20] #181 closed

[2017-05-31 13:24] maxiplay opened #182 "Multiple listing selection bug"
See [video](https://drive.google.com/file/d/0Bz9a1ywlc9N8dmszclFMQWpRcms/view)

[2017-05-31 13:30] maxiplay commented on #181
It is not a standard behavoir for an editor when you use CTLR+A. Even the bold option should be deleted

You can test with word, ckeditor or other known editor it is not the defautl behavior with CTRL+A

[2017-05-31 13:32] miztroh commented on #182
I believe this is caused by https://github.com/miztroh/wysiwyg-e/issues/180.  Can reopen later if still an issue.

[2017-05-31 13:32] #182 closed

[2017-05-31 13:37] maxiplay opened #183 "Make selection part of the undo / redo history"
Hey,

I selected some text, CTRL+X to delete, CTRL+V to paste (bug or not for bolding ?)

And after I do CTLR+Z to cancel the paste.

The selector don't go to the good position.

https://drive.google.com/file/d/0Bz9a1ywlc9N8UGs1SFVVUnNnbTQ/view

[2017-05-31 13:39] miztroh commented on #181
[ckeditor's behavior seems to be the same.](https://drive.google.com/file/d/0B2fSCMPVNdMSRE1Nbjhhb3A3bkE/view)

[2017-05-31 13:43] maxiplay commented on #181
Indeed but not on [word](https://drive.google.com/file/d/0Bz9a1ywlc9N8ZUhVcUhld2pEbVU/view)

Perhaps a web development constraint.

[2017-05-31 15:15] miztroh commented on #181
Most of the basic editing is done with standard platform features (e.g. ``document.execCommand``, etc.).  So, if there's an issue, it might be with the platform or individual browser implementations.

[2017-05-31 15:20] miztroh commented on #183
The bold is not a bug.  Again, it happens because the cursor is inside of a heading and then you're pasting content into it.

You are correct that ``wysiwyg-e`` does not currently restore selection when the undo / redo state changes.  I will add this as an enhancement.

[2017-06-09 19:07] #183 closed

[2017-06-09 19:08] miztroh commented on #183
@maxiplay Take a look at the master build.  Selection is now included as part of the undo / redo history, so this should take care of the issue.

[2017-06-15 23:59] #180 closed

[2017-06-16 00:12] miztroh commented on #180
@maxiplay You should be good to go.

[2017-06-16 13:14] miztroh opened #184 "Start with minimal set of allowed tags; Tools should add the ones they require"

[2017-06-17 07:21] DerNamenlose opened #185 "Cursor jumping around in Chromium"
Hi,

I've noticed a strange effect when using the editor demo in Chromium (Version 58.0.3029.110 Built on Ubuntu , running on Ubuntu 16.04 (64-bit)): loading the editor for the first time and starting to type makes the cursor jump back to the beginning of the line after the first character. If you type "This" on the keyboard, it comes out as "hisT" in the end, because you basically continue typing

[2017-06-18 19:24] dimassrio opened #186 "Can't seems to make a couple of tools work."
Needed information on how to make a couple tools works, the tools that didn't work seems like the one that having paper-tooltip such as :
url/link, image, audio, video,  justify, and heading.

the demo can be accessed [here](https://socamedia.id/article-demo)

hope you can give me some guidance or insight if I'm doing something wrong. I'm using the version 2.0 since I'm also working on polymer 2.0

[2017-06-18 19:28] dimassrio commented on #186
Seems like @miztroh demo at [webcomponents](https://www.webcomponents.org/element/miztroh/wysiwyg-e/demo/demo/index.html) have the same behaviour for me (not working properly).

Right now im using Chrome Version 58.0.3029.110 and Canary.

Would love to help if somehow I can contribute, just give me a poke if you need something.

[2017-06-20 12:49] miztroh commented on #186
I'll take a look and get back to you.  I can see there's an issue in your demo, but I cannot replicate the issue via the ``wysiwyg-e`` page on webcomponents.org.

[2017-06-20 19:17] miztroh commented on #185
I cannot reproduce this issue using the Chromium build you specified on Ubuntu Gnome and the official demo.

https://webcomponents.org/element/miztroh/wysiwyg-e

[2017-06-20 19:17] #185 closed

[2017-06-20 20:53] DerNamenlose commented on #185
It only happens on the very first input after page load. Looking at the DOM, I see a difference: when loading the page, the editable-div is empty. After typing something and deleting all of it, the <div> still contains  <p><br/></p>, "fixing" the bug.

I tested a bit further by modifying the component and having the div always contain a single space (basically I just inserted a space in the <div>

[2017-06-20 23:18] dimassrio commented on #186
As for me both example have the same behaviours, (button not triggering anything, input defocus itself when clicked but dropdown works).

[2017-06-23 18:37] #184 closed

[2017-06-26 15:43] maxiplay commented on #183
Can I test on webcomponents.org ?

[2017-06-26 15:45] miztroh commented on #183
Yep, the fix was included in release v2.0.3.

[2017-07-07 23:45] lastmjs opened #187 "Fix backspace functionality when operating on target's immediate child text nodes"
This thing is so awesome!!! But, I can't get the backspace to work...here is what I have basically:

[code]

[2017-07-08 00:25] lastmjs commented on #187
Looks like the problem is in here:

[code]

When I log it, `this.target.children` is an empty array.

[2017-07-08 00:35] lastmjs commented on #187
Whoa, it's definitely not just me either. The demo doesn't let you backspace: https://www.webcomponents.org/element/miztroh/wysiwyg-e

I am on Chrome 59 on Linux

[2017-07-08 00:40] lastmjs commented on #187
If I fiddle around a bunch and start typing and backspacing randomly, I can actually get the backspace to eventually start working.

[2017-07-10 19:24] miztroh commented on #187
I cannot duplicate this on Ubuntu 17.04 / Chrome 59.

[2017-07-10 23:25] lastmjs commented on #187
If I go to https://www.webcomponents.org/element/miztroh/wysiwyg-e, and type `hello` into the inline demo, and then if I hit backspace, it doesn't work.

[2017-07-12 15:28] miztroh commented on #187
If you can give more details, I'll take another look.  As of now, I just can't replicate this.  See the attached screencast.

https://drive.google.com/file/d/0B2fSCMPVNdMSZ1dWUTNkZTdrNGM/view

[2017-07-12 15:34] miztroh commented on #186
What OS are you using?  Also, can you please test this with Chrome 59 stable?

[2017-07-12 16:06] lastmjs commented on #187
Sorry, I think I mispoke. Can you try the editor that is [here](https://www.webcomponents.org/element/miztroh/wysiwyg-e) under the Usage title? That is where I can get it to break.

[2017-07-12 16:07] lastmjs commented on #187
The demo you tried works for me as well, but no the demo under Usage.

[2017-07-12 18:25] miztroh commented on #187
Looks like that one is broken by the constraints of the webcomponents.org site.  Can't really do anything about that.

[2017-07-12 18:31] lastmjs commented on #187
This is from what we're building: https://prendus.com/question/cj51ccczl38hn0121ocavcv4x/demo

Once that loads, if I put the cursor at the end of hello and hit backspace, it doesn't work.

[2017-07-12 18:59] miztroh commented on #187
OK, that's very helpful.  It looks like this may be a bug with having bare text as a value.  Try setting the initial value to ``<p>hello</p>`` instead of ``hello``.

[2017-07-12 19:24] lastmjs commented on #187
That worked! So the editor isn't putting `<p>` tags around the first line I suppose

[2017-07-12 19:31] miztroh commented on #187
Yeah, I need to add something to the sanitize method to wrap bare text inside p tags.  I've updated the title and tagged this as a bug.  Thanks for the information.

[2017-07-12 19:49] lastmjs commented on #187
I could really use this soon, and I'm willing to do it if you'd like. If you could maybe point me in the right direction, just let me know

[2017-07-12 20:54] lastmjs commented on #187
If it isn't too big of a change, it might be better for you to do it

[2017-07-12 21:21] #187 closed

[2017-07-12 21:22] miztroh commented on #187
I fixed the backspace functionality to work with bare text nodes.  Please download a copy of the master branch and see if this meets your needs.

[2017-07-12 21:23] miztroh opened #188 "Sanitize target's immediate child text nodes"
Wrap in ``p`` tags.

[2017-07-13 01:12] dimassrio commented on #186
OSX, sure will add information after I test it.

[2017-07-13 04:09] lastmjs commented on #187
Works! Thanks a bunch!

[2017-07-14 23:39] jfdevradius opened #189 "Drag and Drop Feature for upload"
Hello,

I was wondering if a drag and drop feature is in the works or will be in the future for uploading files using the wysiwyg-e components

[2017-07-14 23:41] jfdevradius opened #190 "Html editor"
Hello,

I was wondering if a HTML Editor is in the works or will be in the future for writing snippets of HTML using the wysiwyg-e components

[2017-07-17 03:57] pratiwis commented on #186
Hi @miztroh, I also have same problem with @dimassrio. I didn't find any warning or error on my console. I ran it in Windows with Chrome 59 stable version (59.0.3071.115). Oh, and I also worked on Polymer 2.0.

So I tried to test it by deleting my bower_components and then installed only wysiwyg-e (and its dependencies). The problem still occurred and unlike before, I got those warnings on my cons

[2017-07-24 21:07] Stefdv commented on #186
@pratiwis  You  should `<link rel="import" href="../neon-animation/web-animations.html">` as this is required with paper-tooltip 2.0.0
But it doesn't solve the mentioned problems ;p

[2017-07-31 20:47] miztroh commented on #190
``wysiwyg-e`` is (as its name suggests) a what-you-see-is-what-you-get editor.  It is not designed / intended as an HTML editor.

[2017-07-31 20:47] #190 closed

[2017-07-31 20:50] miztroh commented on #189
Since any uploading of files would require a server-side component, I have no plans at this time to implement this.  However, you could certainly write your own tool based on ``wysiwyg-tool``.  Tools are made aware of the target node, so you could implement a tool that adds event handlers for drag / drop.

[2017-07-31 20:50] #189 closed

[2017-07-31 20:58] miztroh opened #191 "Tools should import neon-animation/web-animations.html"
Will fix issues with ``paper-tooltip``.

[2017-07-31 20:59] #191 closed

[2017-07-31 21:37] #188 closed

[2017-07-31 21:41] miztroh commented on #186
I've resolved the web animations dependency issue.  The currently linked demo doesn't seem to load at all.  Please open a new issue using [v2.0.5](https://github.com/miztroh/wysiwyg-e/releases/tag/v2.0.5) with a link to a repo I can check out to investigate.

[2017-07-31 21:41] #186 closed

[2017-08-28 09:13] RoXuS commented on #160
+1

[2017-09-13 04:26] lastmjs opened #193 "Documentation for making your own tool"
I would like to make my own tool, and I think I generally understand what to do from looking at the source code a bit. Could you give me a general overview? Documentation for this would be excellent.

[2017-09-13 05:01] lastmjs opened #194 "Insert text at specific position"
How would I go about this? How do I know what position the cursor is at?

[2017-09-13 05:41] lastmjs commented on #194
I think I'm figuring it out using range0. I'm running into a little issue that would be nice to have solved in the editor. It looks like the range0.endOffset is the index of the cursor relative to the text that the user sees, without regard to any html tags present but not visible to the user. editor.text returns all of the html tags that the user does not see, and so the index is not accurate. It

[2017-09-13 05:58] lastmjs commented on #194
Actually, I think I was using value...my text property doesn't seem to be updating properly, it is always undefined

[2017-09-13 06:21] lastmjs opened #195 "HTML Encoded spaces"
Why are some spaces HTML encoded and some not? For example, if I type `Test it out` and grab the textContent from the editable div, I get `<p>Test it out &nbsp;</p>`. It's causing me some issues

[2017-09-15 20:40] lastmjs opened #196 "Clicking on a tool icon moves the cursor"
Whenever I click on a tool icon, the cursor jumps to the end of the first line.

Example text:
[code]

The first line says `Hello there`. I then hit enter twice and place the cursor at the beginning of the third line. When I click one of the tools, the cursor will jump back to the end of the first line. I believe this is the cause of issues I'm having with range0 not being set correctly when I am

[2017-09-18 19:06] lastmjs commented on #196
I'm getting some other erratic behavior besides the case I described above. If the first line is empty, and lines below it have content, and then I click on a tool, the cursor jumps to the beginning of the line below it.

[2017-09-18 19:13] lastmjs commented on #194
I'm using the range API to do this for now, not sure if that's the prescibed way, but I've got it working.

[2017-09-18 19:15] lastmjs opened #197 "Backspace disabled in paper-input when there is no text in the editor"
I've created some tools that open up dialogs. I have some inputs in those dialogs, specifically paper-inputs. When the editor has no text in it, and the cursor is at the very first position possible, I cannot backspace in any of my paper-inputs inside of my dialogs. If I add even one character back to the editor, I can then backspace again in the inputs. I imagine the editor is somehow disabling b

[2017-09-18 19:20] miztroh commented on #194
``wysiwyg-e`` uses platform APIs wherever possible, so using the Range API would definitely be the way to go.

[2017-09-18 19:20] #194 closed

[2017-09-18 19:59] lastmjs commented on #195
Now that I'm using the Range API, this isn't really an issue for me. I'm not sure if it really is unexpected behavior or not, but I'll close it for now.

[2017-09-18 19:59] #195 closed

[2017-09-21 23:24] lastmjs opened #198 "Can't insert image with range0"
I'm creating my own image tool that uploads an image from a file and turns it into a dataUrl.

Assuming `dataUrl` is a true dataUrl in the code below, I can't get the `img` to be inserted into the editor. The image node does not even show up in the DOM. In fact, whenever I insert a node with `range0` that is not a textNode, I get some erratic behavior with the cursor positioning:

[code]

Nothing

[2017-09-21 23:30] lastmjs commented on #198
I'm doing some debugging with breakpoints...it looks like the `img` element is indeed inserted, but then the sanitizing removes it.

[2017-09-21 23:36] lastmjs commented on #198
I see, the `allowedTagNames` property was the answer. The erratic behavior with the cursor remains.

[2017-09-21 23:36] #198 closed

[2017-09-21 23:37] lastmjs opened #199 "Erratic cursor behavior when inserting node through range0"
If I insert an `img` or `p` or any other node that I've tried with `editor.range0.insertNode`, the cursor does not behave properly. It skips back and generally seems broken. I'm not sure if there is something with the Range API that I need to do to recalculate everything or what.

[2017-09-22 01:39] lastmjs opened #200 "Default image tool, can't type"
It looks like the default image tool's URL input is not stopping the propagation of the click event, so whenever I try to click the cursor jumps to the editor. This is happening on the latest version of Chrome in the demo on webcomponents.org

[2017-09-22 02:02] lastmjs commented on #199
If I click into other inputs outside of the editor after inserting something with `editor.range0.insertNode`, the cursor keeps jumping into the editor. After I type around a bit in the editor and click into some other inputs outside of the editor for a bit, the erratic behavior seems to go away and everything works normally.

[2017-10-04 21:07] lastmjs commented on #196
If I get some input on this, I can try my hand at fixing this.

[2017-10-04 21:08] lastmjs commented on #199
If I get some input on this, I can try my hand at fixing this.

[2017-10-20 19:02] #197 closed

[2017-10-20 19:02] #200 closed

[2017-10-20 19:10] miztroh commented on #199
I can't seem to replicate this issue.  If you'd like to provide a step-by-step replication, I'll take another look.  I'm not sure what I can do about this if there is an issue as it's just the Range API.

[2017-10-20 19:10] #199 closed

[2017-10-20 20:12] miztroh commented on #196
Issue confirmed and is caused in the following section of code.  I'll take a look at resolve this as soon as I can.

https://github.com/miztroh/wysiwyg-e/blob/master/wysiwyg-e.html#L1271-L1280

[2017-10-23 14:40] miztroh commented on #200
@lastmjs Can you confirm that this commit to the master branch resolves your issue?

[2017-10-23 14:40] miztroh commented on #199
@lastmjs Can you confirm that this commit to the master branch resolves your issue?

[2017-10-25 17:42] #196 closed

[2017-10-25 17:42] miztroh commented on #196
@lastmjs Check out the above commit to the master branch and let me know if it resolves this issue for you.

[2017-10-25 17:51] miztroh opened #201 "Text property is not synchronized with changes to value property"

[2017-10-25 17:52] #201 closed

[2017-10-25 18:55] lastmjs commented on #196
Great, I really appreciate it. I'll get to all of these when I can, I've been occupied with some other tasks

[2017-10-25 19:08] miztroh commented on #196
@lastmjs I went ahead and created a new release including several recent bug fixes.  You can just grab the latest release instead of the master branch.

https://github.com/miztroh/wysiwyg-e/releases/tag/v2.0.6

[2017-10-28 23:55] lastmjs commented on #196
The issue seems to be resolved, thanks!

[2017-10-28 23:56] lastmjs commented on #197
The issue seems to be resolved, thanks!

[2017-10-29 00:01] lastmjs commented on #200
This is working in v2.0.6 on my machine! It is not working in the demo on webcomponents.org

[2017-10-29 00:02] lastmjs commented on #199
v2.0.6 does not resolve this issue

[2017-10-29 16:49] miztroh commented on #199
Ok, please provide a jsbin or other demo of this issue as I have not been able to reproduce it.

[2017-11-10 21:35] lastmjs opened #202 "Update editor value when inserting node through range0"
When I insert a node into the editor through the range API, the value property of the editor is not updated. This is causing me to have to go straight to the shadow root of the editor and grab the editable element and its innerHTML. This is fragile and it would be much preferred to keep the value property in sync:

For example:
[code]

[2017-11-11 12:31] herberthobregon opened #203 "Heading dosent work"
Heading dosent work in chrome

[2017-11-12 23:50] miztroh commented on #202
I can't seem to replicate this issue in the master branch or the 3.0-preview branch.  Can you test this without ``wysiwyg-e`` being inside of shadow root and see if it makes a difference?

https://raw-dot-custom-elements.appspot.com/miztroh/wysiwyg-e/v2.0.6/wysiwyg-e/demo/index.html

[2017-11-14 01:38] lastmjs commented on #202
I'm using https://raw-dot-custom-elements.appspot.com/miztroh/wysiwyg-e/v2.0.6/wysiwyg-e/demo/index.html and range0 is undefined

[2017-11-14 19:09] miztroh commented on #202
It's only undefined if you've never made a selection within the editor's target node.

[2017-11-15 22:04] lastmjs commented on #202
It works outside of the shadow root! Using this example: https://raw-dot-custom-elements.appspot.com/miztroh/wysiwyg-e/v2.0.6/wysiwyg-e/demo/index.html, everything checks out fine:

[code]

[2017-11-15 22:24] miztroh commented on #202
OK.  Can you put together a JSBin or something showing your example inside of a shadow root?  I'll be happy to troubleshoot that.

[2017-11-22 14:30] AliMd opened #204 "[bug] many issues like link and picture not work!"
I cant insert link and picture even in your [demo](https://www.webcomponents.org/element/miztroh/wysiwyg-e/demo/demo/index.html)!

Thank you for making this project open source but ...
Please don't release v1 until fix all bugs and all feature works fine!
We report many bugs from our customers and testers
Unfortunately, I use this project in production mode!
Could you please fix these bugs as soon

[2017-11-23 12:47] AliMd commented on #204
@miztroh
I review your codes, and I think you need to rethink your code style and click strategy!
Could you please why you don't use `on-tap` with a separate function for each event like other components?

[2017-11-23 12:51] AliMd commented on #204
@miztroh
for use `contains` in shadow-dom you need to use `root` like `remove.root.contains(clickTarget)`
You fixed this in `image.html` but other file like `link.html` remain!
I think you must review and fix everything before publishing new release! 😞

[2017-11-27 08:16] jpicus commented on #160
+1

[2017-11-28 16:51] ThibzThibz commented on #160
+1

[2017-11-29 16:32] #203 closed

[2017-11-29 16:32] #204 closed

[2017-11-29 20:20] miztroh commented on #204
I had already fixed most of these issues in preparation for the (Polymer) 3.0 release.  I've backported the changes and created release 2.1.0.

[2017-11-29 20:20] miztroh commented on #203
I had already fixed most of these issues in preparation for the (Polymer) 3.0 release.  I've backported the changes and created release 2.1.0.

[2017-12-03 12:48] AliMd commented on #204
@miztroh
Your demo still not work for me!
Undfortanaly we force to rewrite a new editor from zero
Thank you

[2017-12-03 22:10] miztroh commented on #204
I don't know why the demo on webcomponents.org isn't working, but if you actually install this via bower, etc. it works just fine.

[2017-12-03 22:11] miztroh commented on #202
@lastmjs: Any progress on putting together a JSBin for this issue?

[2017-12-04 16:59] lastmjs commented on #202
I'll try to get something up today or tomorrow, it's not a blocking issue for me so it fell to the wayside

[2017-12-04 22:21] lastmjs commented on #202
https://focused-jones-b157fb.netlify.com/

Click the Run Test button, and it will try to add some text to the editor and then print the editor's value to the console.

[2017-12-05 22:31] miztroh commented on #202
Due to the nature of the MutationObserver and the sanitize function, you'll need to add a small timeout before checking the value.  Let me know if that doesn't fix it for you.

[code]

[2017-12-05 22:31] #202 closed

[2017-12-20 00:34] lastmjs opened #205 "Simulating an Enter key press"
I'm struggling to figure this out...how would I go about simulating an Enter key press? I've tried constructing my own event and dispatching it on the `editable` and `content` divs inside of the editor, but nothing happens. Is this even the correct way to go about this?

[2017-12-28 14:56] miztroh commented on #205
Why do you need to simulate this keypress?  What's the final result you're hoping to achieve?

[2017-12-28 17:08] lastmjs commented on #205
When I programmatically insert text into the editor, I want to insert a new line as well. I'm struggling to figure out how to do that.

Also, when I start doing integration tests I want to simulate actual key presses, so even if I a return key press isn't the right way to go about inserting a new line, I'd like to know how to do general key press emulation is possible.

[2017-12-28 17:25] miztroh commented on #205
Assuming you have a valid selection within ``wysiwyg-e``'s target, you can call the following:

``document.execCommand('insertHTML', false, '<br>');``

https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand

Let me know if this fixes it for you.

[2018-01-09 19:31] lastmjs commented on #205
That is beautiful, it worked! I would still like to do integration tests by simulating key events. I use property based testing, which generates many random strings within a DSL as inputs. I'm then going to have the test act like a user and "type" the random DSL strings into the editor and ensure that it behaves properly. Any help on how to do that?

[2018-01-09 20:16] lastmjs commented on #194
Just for future reference in case anyone comes across this, using `document.execCommand` seems like the way to go. For example, to insert text into the editor at the cursor:

[code]

[2018-01-11 12:25] miztroh commented on #205
Try this:

https://elgervanboxtel.nl/site/blog/simulate-keydown-event-with-javascript

[2018-01-11 12:25] #205 closed

[2018-01-11 12:26] miztroh commented on #205
You will probably want to use keypress instead of keydown ... and change the details of the key you need of course.

[2018-01-15 15:59] jpicus commented on #160
Hi,

Any hope to see this feature in a near future ?

Regards

[2018-01-16 22:33] miztroh commented on #160
It's in the works.  There's a lot of functionality in this tool compared to the others, so it might not be ready until the Polymer 3.0 time frame.  Regardless, I'll backport it to 2.x.

![screenshot from 2018-01-16 16-32-40](https://user-images.githubusercontent.com/2515209/35015652-ebe2b74c-fada-11e7-9a51-4abd11d63d9c.png)

[2018-01-22 19:30] miztroh commented on #160
I've got **good news** and **bad news**.

**Good news:** I powered through the work on the new table tool.  See the animated GIF below and the ``3.0-preview`` branch [code](https://github.com/miztroh/wysiwyg-e/blob/d9817ce6ed5401d8fffccaceb60e8617714325af/tools/table.js).

**Bad news:** The ``3.0-preview`` branch includes several changes to the editor and tools that make porting this tool back to

[2018-01-22 19:30] #160 closed

[2018-01-22 19:37] miztroh opened #206 "Table Tool: Brazilian Portuguese Translations"
Please translate the following:

[code]

[2018-01-22 19:38] miztroh commented on #206
@Daniel-Gherard, can you take a look at this?

[2018-01-22 19:39] miztroh opened #207 "Table Tool: French Translations"
Please translate the following:
[code]

[2018-01-22 19:39] miztroh commented on #207
@maxiplay, can you take a look at this?

[2018-01-22 19:43] Daniel-Gherard commented on #206
Sure... the translations are:

'br': {
	'Columns': 'Colunas',
	'Rows': 'Linhas',
	'Show Footer': 'Mostrar Rodapé',
	'Show Header': 'Mostrar Cabeçalho',
	'Table': 'Tabela'
}

[2018-01-22 19:57] miztroh commented on #206
@Daniel-Gherard, thanks for the quick reply.  There ended up being more strings to translate.  Can you update your response to include all the strings now show above?  Thanks again!

[2018-01-22 19:57] miztroh commented on #207
I realized that some strings had been left out.  See the updated list above.

[2018-01-22 20:04] Daniel-Gherard commented on #206
@miztroh sure! I just updated the comment. Check it out.

[2018-01-22 20:14] miztroh commented on #206
Awesome, thank you.  I always run the strings through Google Translate for my own education.  I have a question about all the before / after translations.

For example, when I translate "Célula Anterior" it gives me "Previous Cell".  The meaning I'm trying to achieve when you click ``Insert...`` -> ``Cell Before`` is:

[Insert a new] Cell Before [the currently selected cell].

Being completely une

[2018-01-22 20:31] Daniel-Gherard commented on #206
I see. I thought you meant something like: Go to the cell before or after.

In this case, the right translation should be: "Célula Antes" and "Célula Após".  To summarize:

'Cell After': 'Célula Após',
'Cell Before': 'Célula Antes',
'Column After': 'Coluna Após',
'Column Before': 'Coluna Antes',
'Row After': 'Linha Após',
'Row Before': 'Linha Antes',

English has this thing where the same word rep

[2018-01-22 21:08] miztroh commented on #206
Gotch.  Thanks for the update.  It appears to be much more in keeping with my intended meaning.

[2018-01-22 21:09] #206 closed

[2018-01-22 21:11] miztroh commented on #207
Note that the meaning of all the before / after strings should be like this:

Clicking ``Insert...`` -> ``Cell Before`` should be understood to mean ``[Insert a new] Cell Before [the currently selected cell]``.

[2018-01-24 14:55] Icer2000 opened #208 "getSelection() in safari is broken"
If you use the wysiwyg editor in a Polymer 2 App inside of Shadowdom, the Toolbar Buttons  never get enabled.

The Problem seems to be, that getSelection is undefined in Safari 11.03.

[2018-01-24 16:32] miztroh commented on #208
Yeah, there's a Safari bug filed for this.  There's not really anything I can do to work around this.  It's a critical feature of Shadow DOM and Safari doesn't support it yet.

https://developer.mozilla.org/en-US/docs/Web/API/DocumentOrShadowRoot/getSelection
https://bugs.webkit.org/show_bug.cgi?id=163921

[2018-01-24 16:32] #208 closed

[2018-01-25 00:35] miztroh commented on #207
@maxiplay Any update here?  Thank you!

[2018-01-25 14:32] feuerste opened #209 "_computeShowPlaceholder should return a value"
_computeShowPlaceholder currently doesn't return a value, see https://github.com/miztroh/wysiwyg-e/blob/master/wysiwyg-e.html#L1402
Please add a
`return showPlaceholder;`
Thank you!

[2018-01-25 18:14] #209 closed

[2018-01-25 18:14] miztroh commented on #209
Good catch.  I know that worked at some point.  I'd have to dig through the commits to find out when it broke.  Thanks!

[2018-02-08 10:16] hariprasadiit opened #210 "undo/redo doesn't update the value"
Thanks for the great editor.

I've noticed that undo or redo actions don't update value property. Is this intended or a bug?

[2018-02-14 14:35] feuerste opened #211 "URL disappears in link popup when reopening the popup"
Hello,
I am using the link tool to define URL links. I discovered one pretty annoying bug though. Here is how to reproduce it:
1. Select a word and click on the link button to open the link popup
2. Fill in all fields and click on the check-mark button, so the popup closes, but the word stays selected
3. Click on the link button again -> Now the URL previously filled in vanished

This does not hap

[2018-02-19 12:37] gigouni commented on #207
@miztroh Which files? Didn't find the locations for unknown french strings.

[2018-02-19 13:06] gigouni opened #212 "Compatibility issues with IE11"
## Expected Behavior

The component should work the same on Chrome, Firefox or IE11.

## Actual Behavior

I cannot make it fully work on IE11.

## Steps to Reproduce the Problem

  1. Create new Polymer 2 project `polymer init`
  2. Install dependency `bower install --save wysiwyg-e`
  3. Run the server `polymer serve`
  4. Insert demo text 'This is a test text.'

Now, the *bold* works, the *itali

[2018-02-19 13:40] gigouni commented on #212
**More information here**

When I'm saying _failing_, it means that the popups are showing up really fastly but they disappear quickly without being able to apply the style to the selection.

After this, some buttons cannot be used until the page is refresh.

[2018-02-22 10:35] gigouni opened #213 "Warning: web-animations-js"
Hi,

when loading the editor, i've got this french warning

`Échec du chargement pour l’élément <script> dont la source est « http://127.0.0.1:8080/bower_components/web-animations-js/web-animations-next-lite.min.js ».`

which could be translated as

`Failed to load <script> element with source « http://127.0.0.1:8080/bower_components/web-animations-js/web-animations-next-lite.min.js ».`

`web-anim

[2018-02-23 19:26] miztroh commented on #207
@gigouni https://github.com/miztroh/wysiwyg-e/blob/3.0-preview/tools/table.js#L188-L202

[2018-02-28 20:47] exper1 opened #214 "some html no longer works (iframes for instance)"
Previously in the 1.x version, I could pass html content and wysiwyg-e would render it.  Now it seems I can only basic html such as images, links, headers, etc. I need to be able to have iframes as well.  I think this might have been sanitized with the 2.x versions.  Is there any way to get this functionality back?

[2018-02-28 20:52] miztroh commented on #214
By default, the editor only allows tags that it uses internally.  Then, tools add to the allowed tags list based on what they use internally (i.e. the image tool adds 'img' to the allowed tags list).  If you need to be able to configure the iframe, I'd suggest a custom tool.  If no configuration is needed, then you can just add 'iframe' to the editor's ``allowedTagNames`` property.

For a basic ex

[2018-02-28 20:52] #214 closed

[2018-03-01 02:59] #213 closed

[2018-03-01 03:07] #210 closed

[2018-03-01 12:28] miztroh commented on #211
Issue is confirmed, but clearing the data when the dropdown closes is needed to make sure the old data is gone when you go to edit another link.  When a link is in the selection, the data gets repopulated.   However, for some reason the browser says a selection with its caret at the beginning of the link doesn't have the link in it but a selection with its caret at the end of the link does.  I'm g

[2018-03-01 12:29] miztroh commented on #212
It seems there are several bugs plaguing IE11.  I'll try to work through these.  Thanks.

[2018-03-05 11:30] mstahv opened #215 "Backspace does not work with Safari"
If you try to hit backspace with Safari in the the text area, the text is not erased.

[2018-03-05 14:04] mstahv opened #216 "Input prompt don't work in "standard" way"
Typically input prompt is gray and disappears when user focuses the field. With wysiwyg-e it stays there until one writes the first character.

<img width="276" alt="screen shot 2018-03-05 at 16 03 56" src="https://user-images.githubusercontent.com/1478052/36979021-dc1f5412-208e-11e8-87f0-724c8ed92ede.png">

[2018-03-05 14:16] miztroh commented on #216
Please provide your operating system / browser version.  Thanks!

[2018-03-05 14:36] mstahv commented on #216
Mac OS X latest, tested with Safari and Chrome.

[2018-03-13 08:53] tahitibob035 opened #217 "Change for a more appropriate heading icon"
Hello,

I created a custom font-size tool and i want to use the `editor:format-size` icon from https://github.com/PolymerElements/iron-icons/blob/master/editor-icons.html for the button which updates the font size.
Unfortunately, this icon is already use for the heading button. It exists the icon `editor:title` which can do the job for this heading feature.

Could you help me please ?

[2018-03-15 14:42] pcornelissen commented on #215
Halloweenman in the polymer slack channel had the same problem

[2018-03-15 14:44] miztroh commented on #215
Will investigate.  Thanks for the report!

[2018-03-25 05:31] #216 closed

[2018-03-25 05:34] miztroh commented on #216
I've changed the styling from ``font-style: italic;`` to ``opacity: 0.5;``.  However, hiding the placeholder on focus is not the standard.  I can't say if that's the way Safari handles it, but Chrome and Firefox on Windows / Linux don't operate that way.  I will continue to show the placeholder until text is entered.   If you need to change this behavior, you can override the ``_computeShowPlaceho

[2018-03-25 05:38] #217 closed

[2018-03-25 05:39] miztroh commented on #217
Done.  Thanks for the suggestion!

[2018-03-25 05:40] miztroh commented on #207
@maxiplay or @gigouni: Can I get an update on this?  Thank you!

[2018-03-25 10:47] maxiplay commented on #207
Sorry I'm not watch notifications. What do you mean by "Cell After" ?

Adding a cell after an other cell ?

Because in french : Cellule Après, in my opinion, is not very understandable.

It's more if you say, "Add a Cell after" => "Ajouter une cellule après"

'fr': {
				'Cell After': 'Cellule Après',
				'Cell Before': 'Cellule Avant',
				'Column': 'Colonne',
				'Column After': 'Colonne Après',

[2018-03-25 10:49] maxiplay opened #218 "Demo failed in https://www.webcomponents.org/element/miztroh/wysiwyg-e/demo/demo/index.html"

[2018-03-27 13:02] rovervannispen opened #219 "Repository not found"
I'm getting the following error message when trying to install `wysiwyg-e#1.1.2`

bower selection-mgr#^1.0.0                  ECMDERR Failed to execute "git ls-remote --tags --heads https://github.com/miztroh/selection-mgr.git", exit code of #128 fatal: remote error:    Repository not found.

I can't update to the 2.0 element in my application yet.. 😢

[2018-03-27 13:31] miztroh commented on #219
Unfortunately, I don't have a good support story for you here.  At the time 2.0 was released, the ``selection-mgr`` and ``undo-mgr`` functionalities were moved into ``wysiwyg-e`` itself.  Also at that time, GitHub did not support archiving repos to make them read-only.  So, those repositories were deleted.  I don't have copies of that code.  I know that's frustrating and I apologize.

You should r

[2018-03-27 13:31] #219 closed

[2018-04-11 00:09] jay8t6 opened #220 "incorrect version number in bower.json"
bower.json has incorrect version number causing bower install to fail. It has 2.1 while your latest tag is only 2.1.1. Can you fix please?

UPDATE: I get this error below while doing bower install

[code]

[2018-04-11 00:15] jay8t6 commented on #218
Its probably because of the version mismatch.. check https://github.com/miztroh/wysiwyg-e/issues/220

[2018-04-11 02:54] miztroh commented on #220
Good catch.  Resolved in https://github.com/miztroh/wysiwyg-e/releases/tag/v2.1.2.

[2018-04-11 02:54] #220 closed

[2018-04-11 02:55] miztroh commented on #218
@jay8t6 Good catch.  Resolved in https://github.com/miztroh/wysiwyg-e/releases/tag/v2.1.2.

[2018-04-11 02:55] #218 closed

[2018-04-11 03:50] miztroh commented on #215
Spoke too soon.  I fixed one issue, but there appear to be more.

[2018-04-11 05:50] jay8t6 commented on #220
@miztroh thanks for getting to this quickly! I appreciate it!

[2018-04-11 14:08] jay8t6 opened #222 "Feature Request: Insert HTML into Editor and enable focus"
The following addresses these two features:
- Insert html into editor
- enable editor focus

https://github.com/miztroh/wysiwyg-e/pull/221

[2018-04-24 05:16] lastmjs opened #223 "No matching version found for @polymer/polymer@preview"
I try to `npm install wysiwyg-e` and I get the following:

[code]

[2018-04-24 13:25] miztroh commented on #223
My guess here is that I haven't updated the npm package in a long while.  I'll see if I can push a new build based on the 3.0-preview branch.

[2018-04-27 20:15] miztroh commented on #223
Are you using yarn at all?  Not sure if npm can pull deps from GitHub, but I know the following works as a yarn dep:

[code]

[2018-04-30 18:09] lastmjs commented on #223
npm can pull deps from GitHub, but it doesn't work for that URL:

[code]

[2018-04-30 18:11] lastmjs commented on #223
This line needs to be changed:

[code]

The `^2.3.1` causes the npm error

[2018-04-30 18:13] miztroh commented on #223
What is it supposed to be changed to in order to target that specific release?

[2018-05-02 21:02] lastmjs opened #225 "TypeScript typings"
It would be excellent to have typings for this library, especially when working with this library's inheritance.

[2018-05-02 21:14] miztroh commented on #225
Happy to review a PR for this :)

[2018-05-11 13:03] Icer2000 commented on #215
Any news on this? The backspace also does not work properly in Firefox. After using it as first command, all future keydowns are wrapped in <p> tags, so that no writing of text is possible. Sample screenshot:
![image](https://user-images.githubusercontent.com/16884132/39925555-6b719f22-552c-11e8-9ef6-45cc81cd5955.png)

[2018-05-11 13:27] miztroh commented on #215
@Icer2000: Yeah, I've got a line on a Macbook Air I can use for development so that I can get some proper Safari testing.  ETA on that is probably ~3 weeks, so please bear with me on that.

Regarding the Firefox issue, is this on Mac only or can you reproduce on Windows as well.

[2018-05-11 13:31] Icer2000 commented on #215
I tried to use it on Firefox for Windows.

I also tested in IE11 and EDGE on Windows and had issues with backspace
too. It seems the changes that you reverse Integrated from the 3.x branch
seem to have broken some stuff. :)

On Fri, May 11, 2018 at 3:27 PM, Jonathan Cox <notifications@github.com>
wrote:

[2018-05-11 15:55] miztroh commented on #215
I was able to confirm the Firefox issue.  Interesting that it doesn't seem to happen on Chrome.  I will investigate.  Thanks for the report.

[2018-05-14 16:34] miztroh commented on #222
As mentioned in the PR, the 2.x branch is now under a feature freeze since the release of 3.x (master branch).  Feel free to update your code and submit a new PR.

[2018-05-14 16:40] miztroh commented on #212
@gigouni: Please review the 3.x release to see if you still encounter issues.  There is an open issue related to the backspacing feature, so we'll track that there.  I'm closing this issue for now.  Please reopen if necessary.

[2018-05-14 16:40] #212 closed

[2018-05-14 16:41] miztroh commented on #222
I'll close this until such a time as a new PR is submitted.

[2018-05-14 16:41] #222 closed

[2018-05-14 16:51] miztroh commented on #193
@lastmjs: Looks like you've got some experience under your belt now.  Care to submit a PR for this?  Perhaps something in Markdown format that we can offer in addition to the README.md file?  Thanks!

[2018-05-14 16:55] lastmjs commented on #193
Honestly I've done the bare minimum to get my tools to work, and I'm still a little confused with the old system. I can take a look at the new way of doing things with Polymer 3, I'll probably have some questions to ask

[2018-05-16 08:53] pleku opened #227 "Component is broken after clearing entered text in FF 59 on macOS"
Tested with component 2.1.3 version, macOS 10.13.4 (high sierra), FF Quantum 59.0.2 (64-bit)

### Steps to reproduce:
1. Enter some text to component
2. Remove all entered text (with backspace or select-all + remove)
3. enter text

**Expected**: text is entered normally
**Outcome**: every entered character goes as the first character and adds a whitespace before the previously entered character
<i

[2018-05-16 15:48] #227 closed

[2018-05-16 16:19] miztroh commented on #215
I've tested Firefox, Edge, and IE11.  They all work as of the latest release.

@mstahv:  Can I get you to test the latest release and let me know if this is still an issue?  If so, I should have a Macbook Air available sometime in the next couple weeks to test and resolve this issue.  Thank you!

[2018-05-16 16:33] miztroh commented on #227
I have also backported the fixes from the 3.x (master) branch to the 2.x branch and created a new 2.x release.

https://github.com/miztroh/wysiwyg-e/releases/tag/v2.1.4

[2018-05-16 16:34] miztroh commented on #215
I have also backported the fixes from the 3.x (master) branch to the 2.x branch and created a new 2.x release.

https://github.com/miztroh/wysiwyg-e/releases/tag/v2.1.4

[2018-05-17 05:32] pleku commented on #227
I can confirm it works now! Awesome, thanks for the backporting!

[2018-05-17 05:37] pleku commented on #215
I've just tested with component version 2.1.4 and Safari 11.1 on macOS High Sierra, and normal backspacing still doesn't work. I can only remove text after the cursor by pressing "delete" (fn + backspace) or by painting text and then pressing delete. Just backspace still does nothing.

[2018-05-18 13:39] miztroh commented on #215
I've updated the issue title to reflect that the issue is now localized to just Safari.  I've tried to troubleshoot via Sauce Labs, but that's been a miserable experience.  I've got a Macbook Air on the way.  ETA ~ 2 weeks.  Then I'll dig into this issue.  Thanks for your patience.

[2018-05-22 18:32] miztroh commented on #193
@lastmjs: If you're looking to tackle this, then you may care to look at the new branch where I'm developing a version of wysiwyg-e based on the new lit-element (based on lit-html) base class discussed at this year's Google IO.

The new version is also utilizing the new Material Web Components.

Once lit-element / lit-html achieve a 1.0 release and the remaining Material Web Components are release

[2018-05-22 18:38] miztroh commented on #193
https://github.com/miztroh/wysiwyg-e/blob/lit-element-rewrite/tools/bold.js

[2018-06-05 06:49] phani1kumar opened #228 "Migrating the elements to @material components instead of @polymer"
Hi @miztroh

Thank you very much for such a wonderful tool. Do you have plans to use @material components instead of the @polymer components?

@polymer components, though on the surface are using Polymer 3.0, are actually legacy stuff internally and carry lot of baggage along with them. [@material](https://github.com/material-components/material-components-web-components) components on the other h

[2018-06-05 12:14] miztroh commented on #228
Hello @phani1kumar!  Glad you're enjoying this tool.  I think we're making something great here.  I already have a branch in the works that is rewritten based on ``lit-element`` (``lit-html``) and uses the Material Web Components.  Neither of these has a 1.0 release yet, so I can't say for sure when this will be ready.  Feel free to check it out.

https://github.com/miztroh/wysiwyg-e/tree/lit-elem

[2018-06-05 12:14] #228 closed

[2018-06-10 10:11] Icer2000 commented on #215
Any news? :)

[2018-08-08 19:52] bboyrabi commented on #215
This issue has not been solved yet.
I tried version 2.1.4 on Safari 11.1 on macOS High Sierra, but backspacing and toolbox does not work.
Sahdow root in safari seems to have no getSelection function.
Is there a solution to this?
I thought I could solve it by using [shadow-selection-polyfill](https://github.com/GoogleChromeLabs/shadow-selection-polyfill), but I have not tried it yet.
Or is there an

[2018-08-30 09:45] alexcarabineanu opened #229 "<img> with byte64 src click error"
I'm trying to add images with byte source in the editor but when I click on the message I have the following javascript eror:
Script error. (data:text/javascript;charset=utf-8,%0A%09%09class%20WysiwygToolImage%20extends%20WysiwygTool%20%7B%0A%09%09%09static%20get%20is()%20%7B%20return%20'wysiwyg-tool-image'%20%7D%0A%0A%09%09%09connectedCallback()%20%7B%0A%09%09%09%09super.connectedCallback()%3B%0A

[2018-11-29 00:55] lastmjs opened #230 "Uncaught TypeError: this._meta.byKey is not a function"
On a fresh install of `wysiwyg-e`:

[code]

[2018-11-29 01:10] lastmjs commented on #230
It looks like this is an issue with `iron-icon`, see here: https://github.com/PolymerElements/iron-icon/issues/122

I am able to get around it by manually importing `@polymer/iron-meta` before `wysiwyg-e`.